@font-face {
    font-family: "Rebel Pixy Stars";
    src: url("fonts/rebelpixystars.ttf");
}

.logo {font-family: "Rebel Pixy Stars"; font-size:100px; letter-spacing:5px;  font-weight: normal;  color:blue; margin-top:60px; text-align: center; border-bottom:1px solid #ccc; margin-bottom:5px;}


.menu {display: inline-block; list-style: none;}
.menu li {display: inline-block; margin-left:30px; border:1px solid purple; padding:10px; border-radius:5px;}

.col1 {width:150px; display:inline-block;}
.col2 {width:200px; display: inline-block;}

.space {margin-bottom: 10px;}

.message {width:400px; height:400px; background:gray; color: #000000; overflow: scroll;}
.room {width:200px; height:400px; margin-left:10px; background:gray; color: #000000; overflow: scroll;}
.message2 {width: 400px; color: #000000 background:#000000;}
.room2 {width: 200px; color: #000000; background: #808080}

.inputtext {width:400px}


body {background:black;}
.container {background:#666666; color:white;}
.bottomline {border-bottom: 1px solid #bbbbbb; margin-bottom: 10px;}
.smallphoto {width: 50px; height: 50px;}

.bigspace {height:300px;}
.photo {width: 170px; height: 170px;}
.clearall {clear: both;}

.center {margin:0 auto; width: 100%; text-align: center}
.greencolor {color:green;}
.smallspace {height: 100px;}

.text-danger {color: #ff0000;}
.lightblue {color: #0000ff;}
.darkcreator {color:#00ffff;}
.advisor {color: hotpink}
.owner {color: darkmagenta}

.boxrect {margin-right: 10px;}
.boxrectimg {border:1px solid #0000ff;}
.boxrectimgcreator {border: 1px solid #00ffff;}
.rect {background-color:#0000ff; color: #ffffff; padding:2px; margin-top:10px; text-align: center;}
.rectcreator {background-color:#00ffff; color: #ffffff; padding:2px; margin-top:10px; text-align: center;}
#blog .media-heading {padding-right: 0px;}
.button3d {background: #008080; color: #ffffff; padding: 5px; border-radius: 5px; border: 1px solid #808080;}

textarea {height: 400px; width: 100%;} 