


.menuColor {background: $menuColor; font-size: $menuFontSize; font-family: $fontName;}
.menuColor li > a {color: $whiteColor; cursor: $cursor;}
.menuColor li > a:hover {background: $hoverColor; cursor: $cursor;}


.bgColor {background: $bgColor; font-size: $fontSize;}

.btn-black {background: $blackColor;}

.BGgrey {background: $greyColor;}
.whiteColor {color:$whiteColor; font-weight: bold;}

.whiteColor:hover {color:$whiteColor; font-weight: bold;}

.redColor {color:$redColor;}
.bgBlack {background: $blackColor;}

.smallsize {width:$smallsize; height: $smallsize;}

.fontwhite {color: $whiteColor;}




