


.menuColor {background: $menuColor; font-size: $menuFontSize; font-family: $fontName;}
.menuColor li > a {color: $whiteColor; cursor: $cursor;}
.menuColor li > a:hover {background: $hoverColor; cursor: $cursor;}


.bgColor {background: $bgColor; font-size: $fontSize;}




