@font-face {
    font-family: "Rebel Pixy Stars";
    src: url("fonts/FatTats.ttf");
}

.logo {font-family: "Rebel Pixy Stars"; font-size:75px; letter-spacing:5px;  font-weight: normal;  color:deepskyblue; margin-top:60px; text-align: center; border-bottom:1px solid #cccccc; margin-bottom:15px;}


.menu {display: inline-block; list-style: none;}
.menu li {display: inline-block; margin-left:30px; border:1px solid purple; padding:10px; border-radius:5px;}

.col1 {width:150px; display:inline-block;}
.col2 {width:200px; display: inline-block;}

.space {margin-bottom: 10px;}

.message {height:400px; background:gray; overflow: auto;}
.room {height:400px; background:gray; overflow: auto;}
.message2 {color: #000000 background:#000000;}
.room2 {color: #000000; background: #808080}

.inputtext {width:400px}


body
{
    background-image: url("http://i.imgur.com/cp31vBO.png?1");


}
.container {background:#666666; color:white;}
.bottomline {border-bottom: 1px solid #bbbbbb; margin-bottom: 10px;}
.smallphoto {width: 50px; height: 50px;}

.bigspace {height:300px;}


.photo {
    width: 150px;
    height: 150px;

    opacity:200;

}
.clearall {clear: both;}

.center {margin:0 auto; width: 100%; text-align: center}
.greencolor {color:#00FF00;}
.smallspace {height: 100px;}

.text-danger {color: #ff0000;}
.lightblue {color: #0066ff;}
.darkcreator {color:#99CCFF;}
.advisor {color: hotpink}
.boxrectimgowner {border: 3px solid #AA0000;}
.rectowner {background-color: #AA0000; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrect {margin-right: 10px;}
.boxrectimg {border:3px solid #5890AD;}
.boxrectimgcreator {border: 3px solid lightskyblue;}
.rect {background-color:#5890AD; color: #ffffff; padding:2px; margin-top:10px; text-align: center;}
.rectcreator {background-color:lightskyblue; color: #ffffff; padding:2px; margin-top:10px; text-align: center;}
#blog .media-heading {padding-right: 0px;}
.button3d {background: #008080; color: #ffffff; padding: 5px; border-radius: 5px; border: 1px solid #808080;}

textarea {height: 400px; width: 100%; color: black;}
.designerbot {background: deeppink; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}
.boxrectimgdesigner {border: 3px solid deeppink;}
.smallfont {font-size: 12px;}

.space50 {margin-bottom:50px;}


.boxrectimgnorank {border: 3px solid #555555;}
.rectnorank {background-color: #555555; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgtech {border: 3px solid #EF9AD8;}
.recttech {background-color: #EF9AD8; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgheadadmin {border: 3px solid #D1651D;}
.rectheadadmin {background-color: #D1651D; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgcoowner {border: 3px solid #6633FF;}
.rectcoowner {background-color: #6633FF; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgadmin {border: 3px solid #1D526F;}
.rectadmin {background-color: #1D526F; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgannouncement {border: 3px solid #000088;}
.rectannouncement {background-color: #000088; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimggmod {border: 3px solid #EF9AD8;}
.rectgmod {background-color: #EF9AD8; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgmc {border: 3px solid #339900;}
.rectmc {background-color: #339900; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgadvisor {border: 3px solid #cccccc;}
.rectadvisor {background-color: #cccccc; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.pointer {cursor: pointer;}
.moveup {top: -20px; position: relative;}

pre {color: #ffffff; border: none; font-family: tahoma,Arial,Helvetica,sans-serif;
    overflow: auto;
    word-wrap: normal;
    white-space: pre-wrap;
    background:transparent !important;}

.popmenu { position:absolute; z-index: 1000; width: 100%;}

.color1 {color:#5890AD; font-weight: bold;}
.color2 {color:#AA0000; font-weight: bold;}
.color3 {color: lightskyblue; font-weight: bold;}
.color4 {color:#000088; font-weight: bold;}
.color5 {color:deeppink; font-weight: bold;}
.color6 {color: #6633FF; font-weight: bold;}
.color7 {color: #1D526F; font-weight: bold;}
.color8 {color: #D1651D; font-weight: bold;}
.color9 {color: #EF9AD8; font-weight: bold;}
.color10 {color: #339900; font-weight: bold;}
.color11 {color: #ffffff; font-size: 11px; font-weight: bold;}
.color12 {color: #cccccc; font-weight: bold;}

a.color1:hover{ text-decoration:none; border-bottom:1px solid #5890AD; color: #5890AD;}
a.color2:hover{ text-decoration:none; border-bottom:1px solid #AA0000; color: #AA0000;}
a.color3:hover{ text-decoration:none; border-bottom:1px solid lightskyblue; color: lightskyblue;}
a.color4:hover{ text-decoration:none; border-bottom:1px solid #000088; color: #000088;}
a.color5:hover{ text-decoration:none; border-bottom:1px solid deeppink; color: deeppink;}
a.color6:hover{ text-decoration:none; border-bottom:1px solid #6633FF; color: #6633FF;}
a.color7:hover{ text-decoration:none; border-bottom:1px solid #1D526F; color: #1D526F;}
a.color8:hover{ text-decoration:none; border-bottom:1px solid #D1651D; color: #D1651D;}
a.color9:hover{ text-decoration:none; border-bottom:1px solid #EF9AD8; color: #EF9AD8;}
a.color10:hover{ text-decoration:none; border-bottom:1px solid #339900; color: #339900;}
a.color11:hover{ text-decoration:none; border-bottom:1px solid #ffffff; color: #ffffff;}
a.color12:hover{ text-decoration:none; border-bottom:1px solid #cccccc; color: #cccccc;}


.alertColor {color:#ff00ff;}

.table-hover > tbody > tr:hover {
    background-color: #999999;
}

.alink {color: #67B168;}
.alink:hover{color: #67B168}

.alink2 {color: #ff00ff;}
.alink2:hover{color: #ff00ff}


pre a{color: #33CC33}
pre a:hover{color: #33CC33;}

.mycolortest {color: #0040D0; font-family: tahoma,Arial,Helvetica,sans-serif;}

.btnmain {background: #454545; color: #ffffff; display: inline-block; border: 1px solid #0066FF; padding:10px;}

.btnmain:hover {display: inline-block; border: 1px solid #ffffff;}

.textspace {width: 100%; height: 200px; }

.panel-primary .panel-heading {background: -webkit-linear-gradient(left top, darkmagenta , #330066); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, darkmagenta, #330066); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, darkmagenta, #330066); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, darkmagenta , #330066); /* Standard syntax */
}

.panel-primary {border: 1px solid #665599;}



.profilebackground {background-color: #444444;}

.changepasswordbackground {background-color: #666666;}
.sendmessagebackground {background-color: #666666;}
.sendmsgmodalbackground {background-color: #000000; color: #ffffff}

.informationfonts {color: #CCC; font-size: 11px;}

.textbox {height: 200px; width: 100%;}

.quotetitle, .attachtitle, .codetitle {
    margin: 10px 5px 0px 5px;
    padding: 2px 4px;
    border: solid 1px #090909;
    color: #D0D0D0;
    background-color: #2E2E2E;
    font-size: 0.85em;
    font-weight: bold;
}

.quotetitle .quotetitle {
    font-size: 1em;
}

.quotecontent, .attachcontent {
    margin: 0px 5px 10px 5px;
    padding: 5px;
    border-color: #090909;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.4em;
    /*	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif; */
    background-color: #2E2E2E;
    color: #EEE;
}

.quotewrapper .quotetitle, .codewrapper .codetitle, .attachwrapper .attachtitle {
    margin: 0;
    border-width: 0 0 1px 1px;
}
.quotewrapper .quotecontent, .codewrapper .codecontent, .attachwrapper .attachcontent {
    margin: 0;
    border-width: 0 0 0 1px;
}




