@font-face {
    font-family: "Rebel Pixy Stars";
    src: url("fonts/FatTats.ttf");
}

.logo {font-family: "Rebel Pixy Stars"; font-size:75px; letter-spacing:5px;  font-weight: normal;  color:deepskyblue; margin-top:60px; text-align: center; border-bottom:1px solid #cccccc; margin-bottom:15px;}


.menu {display: inline-block; list-style: none;}
.menu li {display: inline-block; margin-left:30px; border:1px solid purple; padding:10px; border-radius:5px;}

.col1 {width:150px; display:inline-block;}
.col2 {width:200px; display: inline-block;}

.space {margin-bottom: 10px;}

.message {height:400px; background:gray; overflow: auto;}
.room {height:400px; background:gray; overflow: auto;}
.message2 {color: #000000 background:#000000;}
.room2 {color: #000000; background: #808080}

.inputtext {width:400px}


body
{
    background-image: url("http://i.imgur.com/cp31vBO.png?1");


}
.container {
    background: #111111;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 6px;
    color: #ffffff;
}

.forum-box {
    background: #222222;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 6px;
}


.bottomline {border-bottom: 1px solid #bbbbbb; margin-bottom: 10px;}
.smallphoto {width: 50px; height: 50px;}
.smallphoto2 {width: 39px; height: 39px;}

.bigspace {height:300px;}


.photo {
    width: 150px;
    height: 150px;

    opacity:200;

}
.clearall {clear: both;}

.center {margin:0 auto; width: 100%; text-align: center}
.greencolor {color:#00FF00;}
.smallspace {height: 100px;}

.text-danger {color: #ff0000;}
.lightblue {color: #0066ff;}
.darkcreator {color:#99CCFF;}
.advisor {color: hotpink}
.boxrectimgowner {border: 3px solid #ff0000;}
.rectowner {background-color: #ff0000; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrect {margin-right: 10px;}
.boxrectimg {border:3px solid #5890AD;}
.boxrectimgcreator {border: 3px solid #99CCFF;}
.rect {background-color:#5890AD; color: #ffffff; padding:2px; margin-top:10px; text-align: center;}
.rectcreator {background-color:#99CCFF; color: #ffffff; padding:2px; margin-top:10px; text-align: center;}
#blog .media-heading {padding-right: 0px;}
.button3d {background: #008080; color: #ffffff; padding: 5px; border-radius: 5px; border: 1px solid #808080;}

textarea {height: 400px; width: 100%; color: black;}
.designerbot {background: deeppink; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}
.boxrectimgdesigner {border: 3px solid deeppink;}
.smallfont {font-size: 12px;}

.space50 {margin-bottom:50px;}


.boxrectimgnorank {border: 3px solid #555555;}
.rectnorank {background-color: #555555; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgtech {border: 3px solid #EF9AD8;}
.recttech {background-color: #EF9AD8; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgheadadmin {border: 3px solid #D1651D;}
.rectheadadmin {background-color: #D1651D; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgcoowner {border: 3px solid #6633FF;}
.rectcoowner {background-color: #6633FF; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgadmin {border: 3px solid #33CC99;}
.rectadmin {background-color: #33CC99; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgannouncement {border: 3px solid #1D526F;}
.rectannouncement {background-color: #1D526F; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimggmod {border: 3px solid #EF9AD8;}
.rectgmod {background-color: #EF9AD8; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgmc {border: 3px solid #339900;}
.rectmc {background-color: #339900; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgadvisor {border: 3px solid #E0D400;}
.rectadvisor {background-color: #E0D400; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgmcadmin {border: 3px solid #8A6343;}
.rectmcadmin {background-color: #8A6343; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimggmodadmin {border: 3px solid #880066;}
.rectgmodadmin {background-color: #880066; color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.boxrectimgregistered {border: 3px solid #444444;}
.rectregistered {color: #ffffff; padding: 2px; margin-top: 10px; text-align: center;}

.pointer {cursor: pointer;}
.moveup {top: -20px; position: relative;}

.width200 {width: 200px;}

pre {font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    color: #ffffff;
    border: none;
    overflow: auto;
    word-wrap: normal;
    white-space: pre-wrap;
    font-size: 12px;
    line-height: 1.4em;
    margin: 3px 0;
    max-width:786px;
    margin-bottom: 1em;
    background:transparent !important;
}

.popmenu { position:absolute; z-index: 1000; width: 100%;}

.color1 {color:#5890AD; font-weight: bold; display: inline !important; padding: 0 !important;}
.color2 {color:#ff0000; font-weight: bold; display: inline !important; padding: 0 !important;}
.color3 {color: #99CCFF; font-weight: bold; display: inline !important; padding: 0 !important;}
.color4 {color:#1D526F; font-weight: bold; display: inline !important; padding: 0 !important;}
.color5 {color:deeppink; font-weight: bold; display: inline !important; padding: 0 !important;}
.color6 {color: #6633FF; font-weight: bold; display: inline !important; padding: 0 !important;}
.color7 {color: #33CC99; font-weight: bold; display: inline !important; padding: 0 !important;}
.color8 {color: #D1651D; font-weight: bold; display: inline !important; padding: 0 !important;}
.color9 {color: #EF9AD8; font-weight: bold; display: inline !important; padding: 0 !important;}
.color10 {color: #339900; font-weight: bold; display: inline !important; padding: 0 !important;}
.color11 {color: #ffffff; font-size: 11px; font-weight: bold; display: inline !important; padding: 0 !important;}
.color12 {color: #E0D400; font-weight: bold; display: inline !important; padding: 0 !important;}
.color13 {color: #8A6343; font-weight: bold; display: inline !important; padding: 0 !important;}
.color14 {color: #880066; font-weight: bold; display: inline !important; padding: 0 !important;}
.color15 {color: #ffffff; font-weight: bold; display: inline !important; padding: 0 !important;}


a.color1:hover{ text-decoration:none; border-bottom:1px solid #5890AD; color: #5890AD; display: inline !important; padding: 0 !important;}
a.color2:hover{ text-decoration:none; border-bottom:1px solid #ff0000; color: #ff0000; display: inline !important; padding: 0 !important;}
a.color3:hover{ text-decoration:none; border-bottom:1px solid #99CCFF; color: lightskyblue; display: inline !important; padding: 0 !important;}
a.color4:hover{ text-decoration:none; border-bottom:1px solid #1D526F; color: #1D526F; display: inline !important; padding: 0 !important;}
a.color5:hover{ text-decoration:none; border-bottom:1px solid deeppink; color: deeppink; display: inline !important; padding: 0 !important;}
a.color6:hover{ text-decoration:none; border-bottom:1px solid #6633FF; color: #6633FF; display: inline !important; padding: 0 !important;}
a.color7:hover{ text-decoration:none; border-bottom:1px solid #33CC99; color: #33CC99; display: inline !important; padding: 0 !important;}
a.color8:hover{ text-decoration:none; border-bottom:1px solid #D1651D; color: #D1651D; display: inline !important; padding: 0 !important;}
a.color9:hover{ text-decoration:none; border-bottom:1px solid #EF9AD8; color: #EF9AD8; display: inline !important; padding: 0 !important;}
a.color10:hover{ text-decoration:none; border-bottom:1px solid #339900; color: #339900; display: inline !important; padding: 0 !important;}
a.color11:hover{ text-decoration:none; border-bottom:1px solid #ffffff; color: #ffffff; display: inline !important; padding: 0 !important;}
a.color12:hover{ text-decoration:none; border-bottom:1px solid #E0D400; color: #E0D400; display: inline !important; padding: 0 !important;}
a.color13:hover{ text-decoration:none; border-bottom:1px solid #8A6343; color: #8A6343; display: inline !important; padding: 0 !important;}
a.color14:hover{ text-decoration:none; border-bottom:1px solid #880066; color: #880066; display: inline !important; padding: 0 !important;}
a.color15:hover{ text-decoration:none; border-bottom:1px solid #ffffff; color: #ffffff; display: inline !important; padding: 0 !important;}


.alertColor {color:#ff00ff;}

.table-hover > tbody > tr:hover {
    background-color: #333333;
}

.alink {color: #738A66;; font-family: 'Lucida Grande', Helvetica, Arial, sans-serif; height: 18px; font-size: 13px; font-weight: bold;}
.alink:hover{color: #536048}

.alink2 {color: #ffffff;}
.alink2:hover{color: #ffffff;}


pre a{color: #33CC33}
pre a:hover{color: #33CC33;}

.mycolortest {color: #0040D0; font-family: tahoma,Arial,Helvetica,sans-serif;}

.btnmain {background: #454545; color: #ffffff; display: inline-block; border: 1px solid #0066FF; padding:10px;}

.btnmain:hover {display: inline-block; border: 1px solid #ffffff;}

.textspace {width: 100%; height: 200px; }

.panel-primary .panel-heading {background: -webkit-linear-gradient(left top, royalblue , #00008b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, royalblue , #00008b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, royalblue , #00008b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, royalblue  , #00008b); /* Standard syntax */
}

.panel-primary {border: 1px solid cornflowerblue;}

.toolsbackground {background-color: #000000;}


.profilebackground {background-color: #232323;}

.inboxbackground {background-color: #232323;}

.changepasswordbackground {background-color: #666666;}
.sendmessagebackground {background-color: #666666;}
.sendmsgmodalbackground {background-color: #000000; color: #ffffff}

.informationfonts {color: #CCC; font-size: 11px;}

.toolsbackground2 {background-color: #161616;}

.forumtopicbackground {text-align:center; padding: 4px 0 4px 0; color:#FFF; background:#601c2e; font-size:larger; font-weight:bold; width:100%; float:left;}

.forumbackground {border-right: none; text-align: left;}

.forumborderstyle {border-top: 1px solid #999; border-bottom: 1px solid #999;}

ul.post-row {
    background-color: #1a1a1a;
    background-repeat: no-repeat;
    background-position: 100% 0;
    display: block;
    list-style-type: none;
    padding: 5px 5px 5px 0;
    border-radius: 3px;
}

ul.post-row-reported {
    background-color: #510b14;
    background-repeat: no-repeat;
    background-position: 100% 0;
    display: block;
    list-style-type: none;
    padding: 5px 5px 5px 0;
    border-radius: 3px;
}

.forum-container {
    background-color: #161616;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    color: #ffffff;
}

.forumrowbackground {
    display: block;
    padding-left: 5px;
    width: 17%;
    font-size: 1.1em;
}

.forabg {
    background: #000000 none repeat-x 0 0;
    border: 1px solid #000000;
    margin-bottom: 4px;
    padding: 0 5px;
    clear: both;
}

.row1 {
    border-left: solid 1px #404040;
    border-right: solid 1px #121212;
    border-top: solid 1px #3C3C3C;
    border-bottom: solid 1px #131313;
    background: #313131 url(/myphoto/cell.gif) top left repeat-x;
    padding: 8px;
}

.nobold {
    font-weight: normal;
}

.autowidth {
    width: auto !important;
}

hr.divider {
    display: none;
}

.button2 {background: linear-gradient(#666666, #2e2e2e); color: #ffffff; font-size: 14px; border-radius: 4px;}
.button2:hover {border: 1px solid #33CC33; color: #33CC33;}

.button3 {background: linear-gradient(#666666, #2e2e2e); color: #ffffff; font-size: 14px; border-radius: 4px;}
.button3:hover {border: 1px solid #ff0000; color: #ff0000;}

.button4 {background-color: #888888; color: #ffffff; font-size: 14px; border-radius: 4px;}
.button4:hover {border: 1px solid #33CC33; color: #33CC33;}

.button5 {background: linear-gradient(#666666, #2e2e2e); color: #ffffff; font-size: 14px; border-radius: 4px;}
.button5:hover {background: linear-gradient(#444444, #111111); color: #ffffff;}

.button6 {background: linear-gradient(#666666, #2e2e2e); color: #ffffff; font-size: 14px; border-radius: 4px;}
.button6:hover {border: 1px solid #ffffff; color: #ffffff;}

.button7 {background: linear-gradient(#666666, #2e2e2e); color: #ffffff; font-size: 14px; border-radius: 4px; width: 100px; height: 20px; min-height:50px;}
.button7:hover {background: linear-gradient(#444444, #111111); color: #ffffff;}

.button8 {background: linear-gradient(#666666, #2e2e2e); color: #ffffff; font-size: 14px; border-radius: 4px; width: 150px; height: 20px; min-height:50px;}
.button8:hover {background: linear-gradient(#444444, #111111); color: #ffffff;}

.button9 {background: linear-gradient(#EE8888, #AA0000); color: #ffffff; font-size: 14px; border-radius: 4px; width: 100px; height: 20px; min-height:50px;}
.button9:hover {background: linear-gradient(#CC8888, Darkred); color: #ffffff;}

.button10 {background: linear-gradient(lightgreen, #009000); color: #ffffff; font-size: 14px; border-radius: 4px; width: 100px; height: 20px; min-height:50px;}
.button10:hover {background: linear-gradient(#33CC99, Darkgreen); color: #ffffff;}

.locked-icon span	{ background: transparent none 0 0 no-repeat; }
.buttons div.locked-icon	{ width: 96px; height: 25px; }
.locked-icon span	{ background-image: url("/myphoto/button_topic_locked.gif"); }

.post-icon span		{ background: transparent none 0 0 no-repeat; }
.buttons div.post-icon		{ width: 96px; height: 25px; }
.post-icon span		{ background-image: url("/myphoto/button_topic_new.gif"); }

.reply-icon span	{ background: transparent none 0 0 no-repeat; }
.buttons div.reply-icon		{ width: 96px; height: 25px; }
.reply-icon span	{ background-image: url("/myphoto/button_topic_reply.gif"); }

.last_subject { color: #999; text-align: left; position: absolute; top: 10px; left: 8px; width: 345px; overflow: hidden; text-overflow: ellipsis; font-family: 'Lucida Grande', Helvetica, Arial, sans-serif; height: 18px; font-size: 12px; font-weight: bold; }
.last_subject a
{ color: #738A66; }
.last_subject a:visited, .last_subject a:active
{ color: #536048; }

.forumbg-table > .inner {
    margin: 0 -1px;
}

.forumbg-table > .inner > span.corners-top {
    margin: 0 -4px -1px -4px;
}

.forumbg-table > .inner > span.corners-bottom {
    margin: -1px -4px 0 -4px;
}

.username-coloured {
    font-weight: bold;
    display: inline !important;
    padding: 0 !important;
}

.postsubject {
    font-size: 12px;
    font-weight: bold;
    color: #204187;
}

.postlink {
    text-decoration: none;
    color: #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 0;
}

.postlink:active {
    color: #d2d2d2;
}

.postlink:hover {
    background-color: #f6f6f6;
    text-decoration: none;
    color: #404040;
}

.postlink {
    color: #4A8A4A;
    border-bottom-color: #4A8A4A;
}

.postlink:visited {
    color: #1b5c92;
    border-bottom-color: #1b5c92;
}

.postlink:active {
    color: #4A8A4A;
}

.postlink:hover {
    background-color: #353535;
    color: #8c8b8b;
}

.hatched {
    background: url(/myphoto/poster-background.png) repeat;
    border-left: solid 1px #404040;
    border-right: solid 1px #121212;
    border-top: solid 1px #3C3C3C;
    border-bottom: solid 1px #131313;
}



.wrap2 {
    padding: 0;
    min-width: 650px;
    width: 990px;
    margin: 0 auto;
}

#wrap3 {
    padding: 5px 5px;
    min-width: 650px;
    width: 990px;
    margin: 5px auto;                /* This center aligns your wrap width on the browser page */
    background-color: #131311;     /* Gives the wrap a white background */
    border-radius: 3px;    /* The Rounded corners for all modern browsers */
}

#page-body {
    margin: 4px 0;
    clear: both;
}

div.poster_wrap { position: relative; width: 200px; }
td.poster .postavatar { text-align: right; margin-top: 24px; padding-right: 24px; position: relative; }
td.poster .postavatar .avatarborder { display: inline-block; display:-moz-inline-stack; zoom:1; *display:inline; border: 3px solid #3c3c3c; }
td.poster .postavatar .avatarborder_minecraft_outer {
    padding-right: 3px;
    display: inline-block;
    display:-moz-inline-stack; zoom:1;
    *display:inline;
    right: 42px;
    bottom: 2px;
    border: none;
    position: absolute;
}

.navlink {
    float: left;
    font-family: Tahoma,"Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
}

.navlink ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navlink a img{
    display: none;
}


.navlink a:hover {
    color: #a2a2a2;
    background: rgba(0,0,0,0.27);
    -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

.navlink a strong {
    color: #d9d9d9;
    font-size: 14px;
    padding-top: 5px;
    line-height: 40px;
}

.navlink li {
    float: left;
    height: 40px;
    margin: 0;
    padding: 0;
    background: url("/myphoto/navSplit.gif") no-repeat top right;
    float: left;
    padding-right: 2px;
}

.navlink a {
    display: block;
    color: #d9d9d9;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    text-decoration: none;
    padding: 0 16px;
    height: 40px;
    position: relative;
    -webkit-transition: color 350ms ease-in-out;
    -moz-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
    transition: color 350ms ease-in-out;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

ul.navlinks {
    padding-bottom: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid #FFFFFF;
    font-weight: bold;
}

ul.navlinks {
    border: none;
    padding-top: 3px;
}

.navmenu {
    width: 100%;
    background-color: #1e1e1e;
    background-image: url("/myphoto/poster-background.png");
    background-position: top;
    overflow: hidden;
    border-top: 1px solid #3C3C3C;
    margin-bottom: 5px;
    border-left: solid 1px #404040;
    border-right: solid 1px #121212;
    border-bottom: solid 1px #131313;
}

.navmenu2 {
    width: 100%;
    background-color: #1e1e1e;
    background-image: url("/myphoto/navmenu.gif");
    background-position: top;
    overflow: hidden;
    border-top: 1px solid #000;
    margin-bottom: 5px;
}

.tablebg {
    border: solid 1px #000;
    background: #313131 url(/myphoto/cell.gif) top left repeat-x;
}

.gensmall {
    margin: 1px 1px;
    font-size: 1em;
}

.cat-head {
    background: #252524 url("/myphoto/cat-head.png") repeat-x 50% 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #141414;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #a2a2a2;
    text-transform: uppercase;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin-bottom: 4px;
}

.cat-head a:link {
    color: #a2a2a2;
    text-decoration: none;
    -webkit-transition: color 350ms ease-in-out;
    -moz-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
    transition: color 350ms ease-in-out;
}

.cat-head a:hover {
    color: #0a78ba;
}

.cat-head2 {
    background: #252524 url("/myphoto/cat-head5.png") repeat-x 50% 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #141414;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #a2a2a2;
    text-transform: uppercase;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin-bottom: 4px;
}

.cat-head2 a:link {
    color: #a2a2a2;
    text-decoration: none;
    -webkit-transition: color 350ms ease-in-out;
    -moz-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
    transition: color 350ms ease-in-out;
}

.cat-head2 a:hover {
    color: #0a78ba;
}

.cat-head3 {
    background: #252524 url("/myphoto/cat-head2.png") repeat-x 50% 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #141414;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #a2a2a2;
    text-transform: uppercase;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin-bottom: 4px;
}

.cat-head3 a:link {
    color: #a2a2a2;
    text-decoration: none;
    -webkit-transition: color 350ms ease-in-out;
    -moz-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
    transition: color 350ms ease-in-out;
}

.cat-head3 a:hover {
    color: #0a78ba;
}

.cat-head4 {
    background: #252524 url("/myphoto/cat-head6.png") repeat-x 50% 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #141414;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #a2a2a2;
    text-transform: uppercase;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin-bottom: 4px;
}

.cat-head4 a:link {
    color: #a2a2a2;
    text-decoration: none;
    -webkit-transition: color 350ms ease-in-out;
    -moz-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
    transition: color 350ms ease-in-out;
}

.cat-head4 a:hover {
    color: #0a78ba;
}

div.cat-title {
    background: transparent url("/myphoto/cat-title-r.png") no-repeat scroll top right;
    float: left;
    height: 24px;
    padding-right: 12px;
    margin-top: 1px;
    line-height: 23px;
}

div.cat-title span {
    background: transparent url("/myphoto/cat-title-l.png") no-repeat;
    display: block;
    padding-left: 11px;
    height: 24px;
}

div.cat-title span, div.cat-title span a {
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #a2a2a2;
    text-shadow: none;
}

input.button1, input.button11 {
    font-size: 1em;
}

a.button1, input.button1, input.button12, a.button11, input.button11 {
    width: auto !important;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    color: #000;
    background: #FAFAFA none repeat-x top left;
}

a.button11, input.button11, input.button12 {
    border: 1px solid #666666;
}

a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button11, a.button11:link, a.button11:visited, a.button11:active {
    text-decoration: none;
    color: #000000;
    padding: 2px 8px;
    line-height: 250%;
    vertical-align: text-bottom;
    background-position: 0 1px;
}

a.button1:hover, input.button1:hover, a.button11:hover, input.button11:hover, input.button12:hover {
    border: 1px solid #BCBCBC;
    background-position: 0 100%;
    color: #BCBCBC;
}

* html input.button1, * html input.button11 {
    padding-bottom: 0;
    margin-bottom: 1px;
}

a.button1, input.button1, input.button12, a.button11, input.button11 {
    background: linear-gradient(to bottom, #282827 0%, #3e3e3e 100%) repeat-x scroll 0px -1px #2d2d2d;
    color: #d9d9d9;
    box-shadow: 0px 1px 3px #000;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    padding: 0 9px;
    font-size: 11px;
    font-weight: normal;
}

a.button2, input.button11, input.button12 {
    border-color: #2d2d2d;
}

a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button11, a.button11:link, a.button11:visited, a.button11:active {
    color: #808081;
}

a.button1:hover, input.button1:hover, a.button11:hover, input.button11:hover, input.button12:hover {
    border-color: #4A8A4A;
    color: #4A8A4A;
}

fieldset.quick-login input.inputbox {
    width: 15%;
    vertical-align: middle;
    margin-right: 5px;
    background-color: #f3f3f3;
}

.inputbox {
    background-color: #FFFFFF;
    border: 1px solid #c0c0c0;
    color: #333333;
    padding: 2px;
    cursor: text;
}

.inputbox:hover {
    border: 1px solid #eaeaea;
}

.inputbox:focus {
    border: 1px solid #eaeaea;
    color: #4b4b4b;
}

input.inputbox	{ width: 85%; }

textarea.inputbox {
    width: 85%;
}

fieldset.quick-login input.inputbox {
    background-color: #1a1a1a;
}

.inputbox {
    border: 1px solid #090909;
    background: #2f2f2f;
    color: #dedede;
    border-radius: 4px;
}

.inputbox:hover {
    border-color: #1664c2;
}

.inputbox:focus {
    border-color: #1664c2;
    color: #dedede;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
    border: none;
    text-decoration: underline;
    background-color: transparent;
}

.signature {
    margin-top: 1.5em;
    padding-top: 0.2em;
    font-size: 1.1em;
    border-top: 1px solid #CCCCCC;
    clear: left;
    line-height: 140%;
    overflow: hidden;
    width: 100%;
}

dd .signature {
    margin: 0;
    padding: 0;
    clear: none;
    border: none;
}

.signature li {
    list-style-type: inherit;
}

.signature ul, .signature ol {
    margin-bottom: 1em;
    margin-left: 3em;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
    background-color: transparent;
}

.signature {
    border-top-color: #222222;
}

.postbody {
    padding: 0;
    line-height: 1.48em;
    color: #333333;
    width: 76%;
    float: right;
    clear: both;
}

.postbody .ignore {
    font-size: 1.1em;
}

.postbody h3.first {
    /* The first post on the page uses this */
    font-size: 1.7em;
}

.postbody h3 {
    /* Postbody requires a different h3 format - so change it here */
    font-size: 1.5em;
    padding: 2px 0 0 0;
    margin: 0 0 0.3em 0 !important;
    text-transform: none;
    border: none;
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
}

.postbody h3 img {
    /* Also see tweaks.css */
    vertical-align: bottom;
}

.postbody .content {
    font-size: 1.3em;
}

.search .postbody {
    width: 68%
}

#topicreview .postbody {
    width: auto;
    float: none;
    margin: 0;
    height: auto;
}

.post-ignore .postbody {
    display: none;
}

.postbody ul.profile-icons {
    float: right;
    width: auto;
    padding: 0;
}

.postbody ul.profile-icons li {
    margin: 0 3px;
}

#cp-main .postbody p {
    font-size: 1.1em;
}

#cp-main .postbody h3, #cp-main .box2 h3 {
    margin-top: 0;
}

.mcp-main .postbody {
    width: 100%;
}

* html .postbody h3 img { vertical-align: middle; }

.postbody {
    color: #8c8b8b;
}

.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
    font-weight: bold;
    color: #898989;
    text-decoration: none;
}

.postprofile a:hover, .postprofile dt.author a:hover {
    text-decoration: underline;
    color: #d3d3d3;
}

.postprofile a:active {
    font-weight: bold;
    color: #898989;
    text-decoration: none;
}

.search .postprofile a {
    color: #898989;
    text-decoration: none;
    font-weight: normal;
}

.search .postprofile a:hover {
    color: #d3d3d3;
    text-decoration: underline;
}

.postprofile {
    /* Also see tweaks.css */
    margin: 5px 0 10px 0;
    min-height: 80px;
    color: #666666;
    border-right: 1px solid #FFFFFF;
    width: 22%;
    float: left;
    display: inline;
}

.pm .postprofile {
    border-right: 1px solid #DDDDDD;
}

.postprofile dd, .postprofile dt {
    line-height: 1.2em;
    margin-left: 8px;
}

.postprofile strong {
    font-weight: normal;
    color: #000000;
}

.search .postprofile {
    width: 30%;
}

.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
    color: #4A8A4A;
}

.postprofile a:hover, .postprofile dt.author a:hover {
    color:	#B8B8B8;
}

.postprofile a:active {
    color: #4A8A4A;
}

.search .postprofile a {
    color: #4A8A4A;
}

.search .postprofile a:hover {
    color: #B8B8B8;
}

.postprofile {
    color: #666666;
    border-right-color: #222222;
}

.rtl .postprofile {
    border-right-color: #222222;
    border-left-color: transparent;
}

.pm .postprofile {
    border-right-color: #222222;
}

.rtl .pm .postprofile {
    border-right-color: #222222;
    border-left-color: transparent;
}

.postprofile strong {
    color: #8c8b8b;
    font-weight: bold;
}

.post:target .content {
    color: #000000;
}

.content {
    min-height: 3em;
    overflow: hidden;
    line-height: 1.4em;
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #333333;
    padding-bottom: 1px;
}

.content h2, .panel h2 {
    font-weight: normal;
    color: #989898;
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.content p {
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 1.4em;
}

.content dl.faq {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.content li {
    list-style-type: inherit;
}

.content ul, .content ol {
    margin-bottom: 1em;
    margin-left: 3em;
}

#cp-main .content {
    padding: 0;
}

.post:target .content {
    color: #808081;
}

.content {
    color: #8c8b8b;
}

.content h2, .panel h2 {
    color: #5CAD5C;
    border-bottom-color:  #222222;
}

.buttons {
    float: left;
    width: auto;
    height: auto;
}
.buttons div {
    float: left;
    margin: 0 5px 0 0;
    background-position: 0 100%;
}

.buttons div a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0 0;
    position: relative;
    overflow: hidden;
}

.buttons div span			{ position: absolute; width: 100%; height: 100%; cursor: pointer;}
.buttons div a:hover span	{ background-position: 0 100%; }

#cp-main .buttons {
    margin-left: 0;
}

fieldset.submit-buttons {
    text-align: center;
    vertical-align: middle;
    margin: 5px 0;
}

fieldset.submit-buttons input {
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
}

#format-buttons {
    margin: 15px 0 2px 0;
}

#format-buttons input, #format-buttons select {
    vertical-align: middle;
}

html>body dd label input { vertical-align: text-bottom; }	/* Align checkboxes/radio buttons nicely */

.topic-actions {
    margin-bottom: 3px;
    font-size: 1.1em;
    height: 28px;
    min-height: 28px;
}
div[class].topic-actions {
    height: auto;
}

.panel {
    margin-bottom: 4px;
    padding: 0 10px;
    background-color: #f3f3f3;
    color: #3f3f3f;
}

.post span.corners-top, .post span.corners-bottom, .panel span.corners-top, .panel span.corners-bottom, .navbar span.corners-top, .navbar span.corners-bottom {
    margin: 0 -10px;
}

.content h2, .panel h2 {
    font-weight: normal;
    color: #989898;
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.panel h3 {
    margin: 0.5em 0;
}

.panel p {
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 1.4em;
}

#cp-main .panel p {
    font-size: 1.1em;
}

#cp-main .panel ol {
    margin-left: 2em;
    font-size: 1.1em;
}

#cp-main .panel li.row {
    border-bottom: 1px solid #cbcbcb;
    border-top: 1px solid #F9F9F9;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
    color: #000000;
    margin-bottom: 2px;
}

#cp-main .panel {
    background-color: #F9F9F9;
}

#cp-main .panel #topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
    background-image: none;
}

.panel {
    background-color: #1a1a1a;
    color: #838181;
}

.content h2, .panel h2 {
    color: #5CAD5C;
    border-bottom-color:  #222222;
}

#cp-main .panel li.row {
    border-bottom-color: #222222;
    border-top-color: #151515;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
    color: #808081;
}

#cp-main .panel {
    background-color: #151515;
}

#cp-main .panel #topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
    background-image: url("/myphoto/corners_left.png");
}

#cp-main .panel #topicreview span.corners-top span, #cp-menu .panel #topicreview span.corners-top span {
    background-image: url("/myphoto/corners_right.png");
}

#cp-main .panel #topicreview span.corners-bottom, #cp-menu .panel #topicreview span.corners-bottom {
    background-image: url("/myphoto/corners_left.png");
}

#cp-main .panel #topicreview span.corners-bottom span, #cp-menu .panel #topicreview span.corners-bottom span {
    background-image: url("/myphoto/corners_right.png");
}

.clear {
    display: block;
    clear: both;
    font-size: 1px;
    line-height: 1px;
    background: transparent;
}

td.poster div.postusername {
    margin-top: 5px;
    text-align: right;
    font-size: 12px;
    font-family: Tahoma;
    font-weight: bold;
    clear: both;
    padding-right: 28px;
    color: #87C5F8;
}

td.poster div.postusername a
{
    font-family: Tahoma;
    font-weight: bold;
    color: #87C5F8;
}

ul.topiclist {
    display: block;
    list-style-type: none;
    margin: 0;
}

ul.topiclist li {
    display: block;
    list-style-type: none;
    color: #777777;
    margin: 0;
}

ul.topiclist dl {
    position: relative;
}

ul.topiclist li.row dl {
    padding: 2px 0;
}

ul.topiclist dt {
    display: block;
    float: left;
    width: 50%;
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
}

ul.topiclist dd {
    display: block;
    float: left;
    border-left: 1px solid #FFFFFF;
    padding: 4px 0;
}

ul.topiclist dfn {
    /* Labels for post/view counts */
    position: absolute;
    left: -999px;
    width: 990px;
}

ul.topiclist li.row dt a.subforum {
    background-image: none;
    background-position: 0 50%;
    background-repeat: no-repeat;
    position: relative;
    white-space: nowrap;
    padding: 0 0 0 12px;
}

dd.lastpost span, ul.topiclist dd.searchby span, ul.topiclist dd.info span, ul.topiclist dd.time span, dd.redirect span, dd.moderation span {
    display: block;
    padding-left: 5px;
}

ul.topiclist dd.searchextra {
    margin-left: 5px;
    padding: 0.2em 0;
    font-size: 1.1em;
    color: #333333;
    border-left: none;
    clear: both;
    width: 98%;
    overflow: hidden;
}

* html ul.topiclist li { position: relative; }

.clearfix, #tabs, #minitabs, fieldset dl, ul.topiclist dl, dl.polls {
    height: 1%;
    overflow: hidden;
}

ul.topiclist li {
    color: #B8B8B8;
}

ul.topiclist dd {
    border-left-color: #161616;
}

.rtl ul.topiclist dd {
    border-right-color: #161616;
    border-left-color: transparent;
}

ul.topiclist li.row dt a.subforum.read {
    background-image: url("/myphoto/subforum_read.gif");
}

ul.topiclist li.row dt a.subforum.unread {
    background-image: url("/myphoto/subforum_unread.gif");
}

ul.topiclist dd.searchextra {
    color: #8c8b8b;
}

ul.forums {
    background: #f9f9f9 none repeat-x 0 0;
}

ul.forums {
    background-color: #222222;
    background-image: url("/myphoto/gradient.gif");
}

dd.author {
    width: 10%;
    text-align: center;
    line-height: 2.2em;
    font-size: 1.2em;
}

p.author {
    margin: 0 15em 0.6em 0;
    padding: 0 0 5px 0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
}

#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
    color: #FFFFFF;
    text-decoration: none;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
    color: #ffffff;
    text-decoration: none;
}

li.header dt, li.header dd {
    line-height: 1em;
    border-left-width: 0;
    margin: 2px 0 4px 0;
    color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

li.header dt {
    font-weight: bold;
}

li.header dd {
    margin-left: 1px;
}

li.header dl.icon {
    min-height: 0;
}

li.header dl.icon dt {
    /* Tweak for headers alignment when folder icon used */
    padding-left: 0;
    padding-right: 50px;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
    color: #000000;
    margin-bottom: 2px;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
    color: #a2a2a2;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
    color: #4A8A4A;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
    color: #4A8A4A;
}

li.header dt, li.header dd {
    color: #616468;
}

li.header dt a:link, li.header dd a:link {
    color: #616468;
    text-decoration: none;
    -webkit-transition: color 350ms ease-in-out;
    -moz-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
    transition: color 350ms ease-in-out;
}

li.header dt a:hover, li.header dd a:hover {
    color: #4A8A4A;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
    color: #808081;
}

a.topictitle {
    font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #898989;
    text-decoration: none;
}

a.topictitle:hover {
    color: #bcbcbc;
    text-decoration: underline;
}

a.topictitle:active {
    color: #898989;
}

a.topictitle {
    color: #d8d8d8;
}

a.topictitle:hover {
    color: #eaeaea;
}

a.topictitle:active {
    color: #d8d8d8;
}

.pagination {
    height: 1%; /* IE tweak (holly hack) */
    width: auto;
    text-align: right;
    margin-top: 5px;
    float: right;
}

.pagination span.page-sep {
    display: none;
}

li.pagination {
    margin-top: 0;
}

.pagination strong, .pagination b {
    font-weight: normal;
}

.pagination span strong {
    padding: 0 2px;
    margin: 0 2px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #bfbfbf;
    border: 1px solid #bfbfbf;
    font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
    font-weight: normal;
    text-decoration: none;
    color: #747474;
    margin: 0 2px;
    padding: 0 2px;
    background-color: #eeeeee;
    border: 1px solid #bababa;
    font-size: 0.9em;
    line-height: 1.5em;
}

.pagination span a:hover {
    border-color: #d2d2d2;
    background-color: #d2d2d2;
    color: #FFF;
    text-decoration: none;
}

.pagination img {
    vertical-align: middle;
}

.row .pagination {
    display: block;
    float: right;
    width: auto;
    margin-top: 0;
    padding: 1px 0 1px 15px;
    font-size: 0.9em;
    background: none 0 50% no-repeat;
}

.row .pagination span a, li.pagination span a {
    background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
    background-color: #d2d2d2;
}

#cp-main .pagination {
    float: right;
    width: auto;
    padding-top: 1px;
}

.pagination span strong {
    color: #a2a2a2;
    background-color: #4A8A4A;
    border-color: #121212;
}

.pagination span a, .pagination span a:link, .pagination span a:visited {
    color: #a2a2a2;
    background-color: #222222;
    border-color: #121212;
}

.pagination span a:hover {
    border-color: #121212;
    background-color: #4A8A4A;
    color: #a2a2a2;
}

.pagination span a:active {
    color: #121212;
    background-color: #4A8A4A;
    border-color: #a2a2a2;
}

.row .pagination {
    background-image: url("./styles/darkfx/theme/images/icon_pages.gif");
}

.row .pagination span a, li.pagination span a {
    background-color: #353535;
}

.row .pagination span a:hover, li.pagination span a:hover {
    background-color: #4A8A4A;
}