
//declare color

$menuColor: #0066FF;
$bgColor: #999999;
$whiteColor: #ffffff;
$hoverColor: #0040D0;
$blackColor: #454545;
$greyColor: #888888;
$redColor: #ff0000;
$pagination-bg: #2E2E2E;
$pagination-hover-bg: #454545;
$pagination-active-bg: #33CCFF;
$pagination-disabled-bg: #ffffff;

$smallsize: 20px;

//declare size

$menuFontSize:12pt;
$fontSize:12pt;

//declare font name
$fontName: tahoma,Arial,Helvetica,sans-serif;

//declare cursor
$cursor:pointer;