


<h2 class="logo">Chatroom</h2>

<div class="row">
    <div class="col-md-8 message">
        <ul class="list-group">
            <li class="list-group-item black" ng-repeat="msg in message track by $index">
                <b>{{msg.username}}</b>: {{msg.message}}
                {{msg.createdAt}}
            </li>
        </ul>

    </div>
    <div class="col-md-4 room">
        <ul class="list-group">
            <li class="list-group-item black" ng-repeat="user in members track by $index">
                {{user.username}}
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8 message2">
        <input type="text" ng-model="chattext" class="form-control input-sm black" maxlength="250" ng-keypress="sendMessage($event)"/>
    </div>
    <div class="col-md-4 room2">
        <button class="btn btn-info" ng-click="sendMessageclick()">Send</button>
    </div>
</div>
