



<h1 class="logo">Welcome to FireMages.com</h1>

<div id="stage" style="padding-left: 180px; height: 160px;">
    <div id="spinner" style="-webkit-transform-origin: 180px 0 0;">
        <img style="-webkit-transform: rotateY(0deg) translateX(180px); padding: 0 0 0 160px;" src="images/snow-background.png" width="500" height="360" alt="">
        <img style="-webkit-transform: rotateY(-72deg) translateX(180px); padding: 0 0 0 147px;" src="images/FireMages.png" width="500" height="360" alt="">
        <img style="-webkit-transform: rotateY(-144deg) translateX(180px); padding: 0 0 0 120px;" src="images/Firemages-purple.png" width="500" height="360" alt="">
        <img style="-webkit-transform: rotateY(-216deg) translateX(180px); padding: 0 0 0 147px;" src="images/blue-yellow-heart.png" width="500" height="360" alt="">

    </div>
</div>

<div class="bigspace"></div>

<div ng-include="'templates/users.html'"></div>

<img src="images/snow-background.png" alt="A picture of the Firemages">
<img src="images/FireMages.png" alt="Another of the Firemages">
<img src="images/Firemages-purple.png" alt="Another of the Firemages">
<img src="images/blue-yellow-heart.png" alt="Another of the Firemages">



<p>
    Hello there, this website is for people who do stuff. (✿◠‿◠)


</p>

<p>
    <a href="http://steamcommunity.com/groups/firemages" target="_blank">This link goes to the FireMages steam community group</a>
</p>

<p>
    <a href="http://store.steampowered.com" target="_blank">This link goes to steam</a>
</p>
<p>The creator of this website is ☃Ｈｅｌｖａｎｅ☃</p>
<p>
    <a href="http://steamcommunity.com/profiles/76561197998138853" target="_blank">This link goes to Helvane's steam profile</a>
</p>


<p>Other helpful links ⬇⬇⬇</p>
<p>
    <a href="http://www.convictgaming.com" target="_blank">This link goes to convictgaming</a>
</p>
<p>
    <a href="http://graymanngaming.com" target="_blank">This link goes to graymanngaming</a>
</p>
<p>
    <a href="http://steamcommunity.com/groups/heavy-force" target="_blank">This link goes to the Heavy Force steam community group</a>
</p>