



<h1 class="logo">Welcome to FireMages.com</h1>

<img src="images/Miku Welcome.gif" alt="Another of the Firemages">

<b class="pull-right">Note: if you want to use this website for a gaming community then you can add me on steam by  <p>
    <a href="http://steamcommunity.com/id/MissVane">Clicking Here (KatKiss Helvane's Profile)</a>
</p> </b>

<h2> Coming Soon! <img src="images/Face 2.gif" alt="Another of the Firemages"></h2>


<button class="button3d" ng-click="gotosite()">
<img src="images/Heart Lights.gif" alt="Another of the Firemages">Coming soon!<img src="images/Heart Lights.gif" alt="Another of the Firemages">

</button>
<b> Coming Soon! <img src="images/Movie Face.gif" alt="Another of the Firemages"></b>

<div class="smallspace"></div>
<div id="stage" style="padding-left: 180px; height: 160px;">
    <div id="spinner" style="-webkit-transform-origin: 180px 0 0;">
        <img style="-webkit-transform: rotateY(0deg) translateX(180px); padding: 0 0 0 160px;" src="images/snow-background.png" width="500" height="360" alt="">
        <img style="-webkit-transform: rotateY(-72deg) translateX(180px); padding: 0 0 0 147px;" src="images/FireMages.png" width="500" height="360" alt="">
        <img style="-webkit-transform: rotateY(-144deg) translateX(180px); padding: 0 0 0 120px;" src="images/Firemages-purple.png" width="500" height="360" alt="">
        <img style="-webkit-transform: rotateY(-216deg) translateX(180px); padding: 0 0 0 147px;" src="images/blue-yellow-heart.png" width="500" height="360" alt="">

    </div>
</div>


<div class="bigspace"></div>



<p>
     Hello there, this website is for people who do stuff. <img src="images/Face 2.gif" alt="Another of the Firemages">


</p>

<p>Other helpful links ⬇⬇⬇</p>

<b>Other links will be provided soon</b>