


<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>FireMages.com</title>


    <link href="/bower_components/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="/styles/animate.css" rel="stylesheet" type="text/css"/>
    <link href="/bower_components/angular-emoji-filter/dist/emoji.min.css" type="text/css" rel="stylesheet"/>
    <link href="/styles/app.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/style.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/icons.css" rel="stylesheet" type="text/css"/>


    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="/bower_components/angular-emoji-filter/lib/emoji.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/config/endpoint.js"></script>
    <script src="/js/controllers/alertController.js"></script>
    <script src="/js/controllers/announcementController.js"></script>
    <script src="/js/controllers/blogController.js"></script>
    <script src="/js/controllers/changepasswordController.js"></script>
    <script src="/js/controllers/chatroomController.js"></script>
    <script src="/js/controllers/emojiController.js"></script>
    <script src="/js/controllers/formattingController.js"></script>
    <script src="/js/controllers/forumlayoutController.js"></script>
    <script src="/js/controllers/forumsController.js"></script>
    <script src="/js/controllers/gamingController.js"></script>
    <script src="/js/controllers/homeController.js"></script>
    <script src="/js/controllers/inboxController.js"></script>
    <script src="/js/controllers/lockController.js"></script>
    <script src="/js/controllers/loginController.js"></script>
    <script src="/js/controllers/mediaController.js"></script>
    <script src="/js/controllers/membersController.js"></script>
    <script src="/js/controllers/menuController.js"></script>
    <script src="/js/controllers/onlineController.js"></script>
    <script src="/js/controllers/profileController.js"></script>
    <script src="/js/controllers/registerController.js"></script>
    <script src="/js/controllers/sendmessageController.js"></script>
    <script src="/js/controllers/summaryController.js"></script>
    <script src="/js/controllers/updateRegisterController.js"></script>
    <script src="/js/controllers/usersController.js"></script>
    <script src="/js/filters/dateFilter.js"></script>
    <script src="/js/services/ajaxService.js"></script>
    <script src="/js/services/chatService.js"></script>
    <script src="/js/services/shareService.js"></script>
    <!--SCRIPTS END-->

  



</head>
<body>
<div class="container container-fluid">

    <div ng-include="'templates/menu.html'"></div>
    <div ng-include="'templates/alert.html'"></div>

    <div ui-view="viewA"></div>

    <%- body %>

</div>
</body>
</html>