
<h2 class="logo">Blog</h2>
<div ng-if="person && person.status!='Server Banned'">
<div class="space">
    What do you want to say?

</div>
<div class="space">
    <textarea ng-model="message.msg"  maxlength="4000" wrap="hard"></textarea>
</div>


<ul class="list-unstyled list-inline">
    <li>Photo</li>
    <li><input type="file" nv-file-select uploader="uploader" class="form-control input-sm"/></li>
</ul>

<table class="table table-hover" ng-if="uploader.queue.length > 0">
    <tr>
        <th>#</th><th>Filename</th><th>Photo</th><th>Size</th><th>Delete</th>
    </tr>
    <tr ng-repeat="item in uploader.queue track by $index">
        <td>{{$index + 1}}</td>
        <td ng-bind="item.file.name"></td>
        <td><div ng-thumb="{ file: item._file, height: 100 }"></div></td>
        <td>{{ item.file.size/1024/1024|number:2 }} MB</td>
        <td><a ng-click="deleteitem(item)"><i class="fa fa-remove"></i></a></td>
    </tr>
</table>

<br/>

<div class="space">
    <button class="btn btn-info" ng-click="save()">Submit</button>
    <button class="btn btn-primary" ng-click="emoticon()">Emoticon</button>
    <button class="btnmain" ng-click="formattingpopup()">Formatting Help</button>
</div>

<br/>
<div class="greencolor">{{error}}</div>


<br/>
<div class="progress" ng-show="progressflag==true">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{uploader.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{uploader.progress}}%">
        {{uploader.progress}} %
    </div>
</div>

<br/>
</div>

<div class="media-list" ng-repeat="msg in listmessages track by $index">
    <div class="media bottomline" id="blog">
        <div class="media-heading boxrect pull-left">

        <a ng-if="msg.userid.status=='Community Member'">
            <img src="/images/{{msg.userid.photo}}" class="boxrectimg"/>
        </a>
        <a ng-if="msg.userid.status=='Community Guidance'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgcreator"/>
        </a>
         <a ng-if="msg.userid.status=='Designer Bot'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgdesigner"/>
         </a>

            <a ng-if="msg.userid.status=='Community Founder'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgowner"/>
            </a>
            <a ng-if="msg.userid.status=='No Ranking'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgnorank"/>
            </a>
            <a ng-if="msg.userid.status=='Server Banned'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgnorank"/>
            </a>
            <a ng-if="msg.userid.status=='Community Head-Admin (TF2)'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgheadadmin"/>
            </a>
            <a ng-if="msg.userid.status=='Community Tech'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgtech"/>
            </a>
            <a ng-if="msg.userid.status=='Community Admin'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgadmin"/>
            </a>
            <a ng-if="msg.userid.status=='Community Owner'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgcoowner"/>
            </a>
            <a ng-if="msg.userid.status=='Announcement Bot'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgannouncement"/>
            </a>
            <a ng-if="msg.userid.status=='Community Head-Admin (Gmod)'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimggmod"/>
            </a>
            <a ng-if="msg.userid.status=='Community Head-Admin (MC)'">
                <img src="/images/{{msg.userid.photo}}" class="boxrectimgmc"/>
            </a>

             <div class="text-center smallfont"><a href="#/profile/{{msg.userid.id}}" class="whiteColor">{{msg.userid.username}}</a></div>
            <div ng-if="msg.userid.status=='Community Member'" class="rect">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Community Guidance'" class="rectcreator">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Designer Bot'" class="designerbot">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Community Founder'" class="rectowner">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='No Ranking'" class="rectnorank">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Server Banned'" class="rectnorank">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Community Head-Admin (TF2)'" class="rectheadadmin">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Community Tech'" class="recttech">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Community Admin'" class="rectadmin">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Community Owner'" class="rectcoowner">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Announcement Bot'" class="rectannouncement">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Community Head-Admin (Gmod)'" class="rectgmod">{{msg.userid.status}}</div>
            <div ng-if="msg.userid.status=='Community Head-Admin (MC)'" class="rectmc">{{msg.userid.status}}</div>


        </div>
        <div class="media-body">
            <i>{{msg.createdAt|datetimefilter}}</i> <br/>
            {{$index+1}} . <pre ng-bind-html="msg.message | unsafe "></pre>
            <div ng-repeat="photo in msg.photoid track by $index"><img src="/blogimages/{{photo.filename}}" class="img-responsive"/></div>
        </div>

        <div class="clearall"></div>
    </div>
</div>
