<div class="modal-body">
    <div>
        <i class="fa fa-remove fa-2x pull-right pointer" ng-click="cancel()"></i>
    </div>
    <h4>
     <b>Picture Format:</b>   &lt;img src="Link Of The Picture" alt="Image"&gt;  <br/><br/><br/>
     <b>Link Format:</b>   &lt;a href="Webiste Link" target="_blank"&gt;Website Title &lt;/a&gt; <br/><br/><br/>
     <b>Bold Format:</b>   &lt;b&gt;Bold Text&lt;/b&gt; <br/> <b style="color: #008000">Outcome:</b> <b>Bold Text</b>  <br/><br/><br/>
     <b>Strike Format:</b>   &lt;strike&gt;Strike Text&lt;/strike&gt; <br/> <b style="color: #008000">Outcome:</b> <strike>Strike Text</strike>  <br/><br/><br/>
     <b>Underlined Format:</b>   &lt;u&gt;Underlined Text&lt;/u&gt; <br/> <b style="color: #008000">Outcome:</b> <u>Underlined Text</u>  <br/><br/><br/>
     <b>Header Format:</b>   &lt;h1&gt;Header Text&lt;/h1&gt; <br/> <b style="color: #008000">Outcome:</b> <h1>Header Text</h1>  <br/><br/><br/>


    </h4>

</div>