<h1 class="logo">Forum Layout</h1>

<h4 style="color: #00FFFF">Note: Please copy and paste these layouts into your summary. <img src="/myphoto/Face 2.gif" alt="Happy face by Helvane"></h4>

<pre>
<h3>Admin Application Layout</h3>

<h5>Steam Username:</h5>


<h5>Steam ID:</h5>


<h5>Gender:</h5>


<h5>Age:</h5>


<h5>Location:</h5>




<b>Tell us a bit about yourself:</b>





<b>Do you work? If yes, will it have an effect on when you'll be able to be on the servers/at the disposal for moderator work?:</b>





<b>Do you have any past Admin/Sourcemod experience? If yes, for who/what group and when?:</b>





<b>Please list any current Admins that would recommend you for this position:</b>
</pre>