<div class="breadcrumb cat-head3">
    <div class="cat-title"><span><a href="#/forums">Forums</a></span></div>
    <div class="cat-title" style="margin-left: 5px;" ng-if="forumtopic.prevlevel"><span><a href="#/subcat/{{forumtopic.prevlevel.id}}">{{forumtopic.prevlevel.name}}</a></span></div>
    <div class="cat-title" style="margin-left: 5px;" class="active"><span>{{forumtopic.name}}</span></div>
</div>

<div class="topic-actions">
<div class="buttons">
    <div class="locked-icon" ng-if="topicid >= 52" title="This topic is locked, you cannot edit posts or make further replies."><a href="#/forumlock"><span></span></a></div>
    <div ng-if="topicid < 52" class="post-icon" title="Post A New Topic."><a href="#/forumpost/{{topicid}}"><span></span></a></div>
    <div><input type="search" ng-model="form.search" class="form-control width200 inputbox" placeholder="Search This Forum..."/></div>
</div>
</div>

<div ui-view="pinView" ng-hide="true"></div>

<br/>

<div class="cat-head2">
    <div class="cat-title">
        <span>Topics</span>
    </div>
</div>
<div class="forum-box">
<table class="table table-hover forum-container">
    <tr>
        <th></th><th>Author</th><th>Title</th><th>Views</th><th>Last Post</th>
    </tr>

    <!-- pindata start here -->

    <tr ng-repeat="f in pindata | filter:form.search track by $index">
        <td class="col-sm-1">

            <span ng-if="f.forumid.lock==true"><img src="/myphoto/Sticky-Locked.png" alt="This topic is locked, you cannot edit posts or make further replies." title="This topic is locked, you cannot edit posts or make further replies."></span>
            <span ng-if="f.forumid.lock==false"><img src="/myphoto/Sticky Read.png" alt="No unread posts" title="No unread posts"></span>
        </td>

        <td class="col-sm-1">

            <a href="#/profile/{{f.userid.id}}" class="{{f.userid.fontcolor}}">{{f.userid.username}}</a>

        </td>
        <td class="pointer col-sm-4"><a class="alink" ng-click="gotosummary(f.forumid)">{{f.forumid.title}}</a></td>
        <td class="col-sm-1">{{f.forumid.totalviews}}</td>
        <td class="col-sm-5"><lastanswer forumid="f.forumid.id"></lastanswer></td>
    </tr>

    <!-- pindata ends here -->


    <tr ng-repeat="f in myforum | filter:form.search track by $index" ng-hide="pincheck(f.id)">
        <td class="col-sm-1">

            <span ng-if="f.lock==true"><img src="/myphoto/Forum (Locked).png" alt="This topic is locked, you cannot edit posts or make further replies." title="This topic is locked, you cannot edit posts or make further replies."></span>
            <span ng-if="f.lock==false"><img src="/myphoto/Forum (Read).png" alt="No unread posts" title="No unread posts"></span>
        </td>

        <td class="col-sm-1">

            <a href="#/profile/{{f.userid.id}}" class="{{f.userid.fontcolor}}">{{f.userid.username}}</a>

        </td>
        <td class="pointer col-sm-4"><a class="alink" ng-click="gotosummary(f)">{{f.title}}</a></td>
        <td class="col-sm-1">{{f.totalviews}}</td>
        <td class="col-sm-5"><lastanswer forumid="f.id"></lastanswer></td>
    </tr>
</table>
</div>

<div class="topic-actions">
<div class="buttons">
    <div ng-if="topicid < 52" class="post-icon" title="Post A New Topic."><a href="#/forumpost/{{topicid}}"><span></span></a></div>
    <div class="locked-icon" ng-if="topicid >= 52" title="This topic is locked, you cannot edit posts or make further replies."><a href="#/forumlock"><span></span></a></div>
</div>
</div>