<div class="forum-container">
        <div ng-repeat="t in forumTopics track by $index">
            <div class="forumtopicbackground">
                <b>{{t.name}}</b>
            </div>
        <table class="table tablebg">
        <tr>
            <th class="col-sm-4 forumrowbackground">Forum</th><th class="col-sm-1 forumrowbackground">Topics</th><th class="col-sm-1 forumrowbackground">Posts</th><th class="col-sm-6 forumrowbackground">Last Post</th>
        </tr>
          <tr ng-repeat="subtopic in t.subtopic track by $index">
            <td class="col-sm-4 pointer" ng-click="goto(subtopic)">{{subtopic.name}}</td>
            <td class="col-sm-1"><counttopic topicid="subtopic"></counttopic></td>
            <td class="col-sm-1"><countpost topicid="subtopic"></countpost></td>
            <td class="col-sm-6"><lastpost topicid="subtopic"></lastpost></td>
          </tr>
        </table>
        </div>
    <div class="forumtopicbackground">Information</div>
    <table class="tablebg" width="100%" cellspacing="0">
    <tbody>
    <td class="row1 nobold">
    <b class="gensmall">
        Legend:
        <span class="color2">Owner</span>,
        <span class="color6">Co-Owner</span>,
        <span class="color12">Community Advisor</span>,
        <span class="color8">Head Admin (TF2)</span>,
        <span class="color10">Head Admin (MC)</span>,
        <span class="color9">Head Admin (Gmod)</span>,
        <span class="color3">Full Admin</span>,
        <span class="color7">TF2 Admin</span>,
        <span class="color13">MC Admin</span>,
        <span class="color14">Gmod Admin</span>,
        <span class="color1">Community Member</span>,
        <span class="color15">Registered User</span>
    </b>
    </td>
    </tbody>
    </table>
</div>


