<h1 class="logo">Forum Layout</h1>

<h4 style="color: #00FFFF">Note: Please copy and paste these layouts into your summary. <img src="/myphoto/Face 2.gif" alt="Happy face by Helvane"></h4>

<pre>
<h3>Admin Application Layout</h3>

<h5>Which game are you applying adminship for? <b style="color: #D1651D">Team Fortress 2</b>,<b style="color:#EF9AD8 ">Garrys Mod</b>, or <b style="color: #339900">Minecraft</b>:</h5>

<h5>Steam Username:</h5>

<h5>Steam ID:</h5>

<h5>Gender:</h5>

<h5>Age:</h5>

<h5>Location:</h5>




<b>Tell us a bit about yourself:</b>





<b>Do you work? If yes, will it have an effect on when you'll be able to be on the servers/at the disposal for moderator work?:</b>





<b>Do you have any past Admin/Sourcemod experience? If yes, for who/what group and when?:</b>





<b>Please list any current Admins that would recommend you for this position:</b>


________________________________________________________________________________________________________________________

<h3>Head-Admin Application Layout</h3>

Which game are you applying head-admin for? <b style="color: #D1651D">Team Fortress 2</b>,<b style="color:#EF9AD8 ">Garrys Mod</b>, or <b style="color: #339900">Minecraft</b>:


Age:


Please list any current Admins that would recommend you for this position:

________________________________________________________________________________________________________________________
<h3>Unban Request Layout</h3>

Steam User Name:


Steam ID:


Time and Date of Banning:


Which server were you banned on?:


Supposed Banner:


Why were you banned?:


Are you VAC Banned for any other game? If so you will not be unbanned:


Brief explanation for why you should no longer be banned:


Please make sure your steam profile is public.


________________________________________________________________________________________________________________________

<h3>Unmute & Ungag Request Layout</h3>

Steam User Name:


Steam ID:


Time and Date of Mute/Gag:


Which server were you muted/gagged on?:


Supposed Admin:


Why were you muted/gagged?:


Brief explanation for why you should no longer be muted/gagged:


Please make sure your steam profile is public.


</pre>