<h1 class="logo" xmlns="http://www.w3.org/1999/html">Forums</h1>


<br/>
<br/>

<h4><b class="pointer"><a ng-click="gotoforumlayout()" target="_blank" style="color:#33CC33">FORUM LAYOUT!</a></b></h4>

<div class="alert alert-info" ng-hide="logindata">
    You must be logged in, in order for you to post on these forums.
</div>

<div ng-if="error" class="alert alert-warning">{{error}}</div>

<div class="form-group">

<label class="control-label">Choose A Topic</label>
<select class="form-control" ng-model="forum.topic">
    <option ng-repeat="topic in topics track by $index" value="{{topic.id}}">{{topic.name}}</option>

</select>
</div>

<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" ng-model="forum.title">
</div>

<div class="form-group">
    <label class="control-label">Summary</label>
    <textarea class="form-control" ng-model="forum.summary" wrap="hard"></textarea>
</div>

<div class="form-group">
    <label class="control-label">Photo</label>
    <input type="file" nv-file-select uploader="uploader" class="form-control input-sm"/>
</div>

<div class="form-group" ng-show="logindata">
    <label class="control-label"></label>
    <button class="btn btn-info" ng-click="save()">Submit</button> &nbsp;
    <button class="btn btn-primary" ng-click="emoticon()">Emoticon</button>
</div>

<br/>
<table class="table table-hover">
    <tr>
        <th>#</th><th>Username</th><th>Title</th><th>Topic</th><th>Date</th>
    </tr>
    <tr ng-repeat="f in myforum track by $index">
        <td class="col-sm-1">{{$index+1}}</td>

        <td class="col-sm-3">
            <ul class="list-inline list-unstyled">
            <li><img src="/images/{{f.userid.photo}}" class="img-responsive smallphoto"/></li>
            <li class="moveup"> {{f.userid.username}}</li>
                </ul>
        </td>
        <td class="pointer col-sm-4"><a ng-click="gotosummary(f)">{{f.title}}</a></td>
        <td class="col-sm-2">{{f.topic.name}}</td>
        <td class="col-sm-2">{{f.createdAt|datetimefilter}}</td>
    </tr>
</table>