<h1 class="logo">Forum Layout</h1>

<pre>
<h3 style="color: #1D526F">Admin Application Layout</h3>

<h5>Steam Username:</h5>


<h5>Steam ID:<p><b><a href="http://steamidfinder.com" target="_blank" style="color:#33CC33">You can find your Steam ID here</a></b></p></h5>


<h5>Gender:</h5>


<h5>Age:</h5>


<h5>Location:</h5>



<b>Tell us a bit about yourself:</b>




<b>Do you work? If yes, will it have an effect on when you'll be able to be on the servers/at the disposal for moderator work?:</b>




<b>Do you have any past Admin/Sourcemod experience? If yes, for who/what group and when?:</b>




<b>Please list any current Admins that would recommend you for this position:</b>

________________________________________________________________________________________________________________________

<h3 style="color: #7A2B2B">Unbanned Request Layout</h3>

<h5>Steam Username:</h5>


<h5>Steam ID:</h5>


<h5>Time and date of banned:</h5>


<h5>Which admin banned you?:</h5>


<h5>Why were you banned for?:</h5>


<h5>Why should you be Unbanned?:</h5>

________________________________________________________________________________________________________________________

<h3 style="color: #CE412B">Ungag & Unmute Request Layout</h3>

<h5>Steam Username:</h5>


<h5>Steam ID:</h5>


<h5>Time and date of Mute/Gag:</h5>


<h5>Which admin Muted/Gagged you?:</h5>


<h5>Why were you Muted/Gagged for?:</h5>


<h5>Why you should be Unmuted/Ungagged:</h5>
</pre>