
<div class="space50">&nbsp;</div>
<h1 class="text-center" style="color: hotpink"><img src="/myphoto/Hearts_By_Helvane-(2).png" alt="">Flubber Gaming's Website<img src="/myphoto/Hearts_By_Helvane.png" alt=""></h1>

<div class="row">
    <div class="col-sm-8">

        <div ui-view="viewE"></div>

        <div ui-view="viewB"></div>

        <div ui-view="viewD"></div>

        <div ui-view="viewC"></div>



    </div>
    <div class="col-sm-4">
               <h4> Flubber's Phenomenal Gaming Group! <img src="/myphoto/Face 2.gif" alt="Happy face by Helvane"></h4>


        <button class="button3d" ng-click="gotosite()">
            <img src="/myphoto/Heart Lights.gif" alt="">Flubber's Phenomenal Gaming Group<img src="/myphoto/Heart Lights.gif" alt="">

        </button>
        <p>
        <b>Are you ready for fun? well then come play with us!</b>
        </p>

        <div class="panel panel-info">
        <div class="panel-heading text-center"><b>Other helpful links ⬇⬇⬇</b></div>
        <div class="panel-body">
            <ul class="list-group">

        <li class="list-group-item"><p><b><a href="http://steamcommunity.com/groups/Foxfam" target="_blank" style="color:#33CC33">Fox Family Steam Community Group</a></b></p></li>
        <li class="list-group-item"><p><b><a href="http://steamcommunity.com/groups/MYYYY" target="_blank" style="color:#33CC33">Girls Rule Steam Community Group</a></b></p></li>

        </ul>
        </div>
        </div>

    </div>

</div>

