


<h1 class="logo">Welcome To Firemages.com</h1>

<img src="/myphoto/Miku Welcome.gif" alt="Another of the Firemages">


<h2> Flubber's Phenomenal Gaming Group! <img src="/myphoto/Face 2.gif" alt="Another of the Firemages"></h2>


<button class="button3d" ng-click="gotosite()">
<img src="/myphoto/Heart Lights.gif" alt="Another of the Firemages">Flubber's Phenomenal Gaming Group<img src="/myphoto/Heart Lights.gif" alt="Another of the Firemages">

</button>
<b> Are you ready for fun? well then come play with us! <img src="/myphoto/Luna Guard.gif" alt="Another of the Firemages"></b>

<div class="smallspace"></div>
<div id="stage" style="padding-left: 180px; height: 160px;">
    <div id="spinner" style="-webkit-transform-origin: 180px 0 0;">
        <img style="-webkit-transform: rotateY(0deg) translateX(180px); padding: 0 0 0 160px;" src="/myphoto/snow-background.png" width="500" height="360" alt="">
        <img style="-webkit-transform: rotateY(-72deg) translateX(180px); padding: 0 0 0 147px;" src="/myphoto/FireMages.png" width="500" height="360" alt="">
        <img style="-webkit-transform: rotateY(-144deg) translateX(180px); padding: 0 0 0 120px;" src="/myphoto/Firemages-purple.png" width="500" height="360" alt="">
        <img style="-webkit-transform: rotateY(-216deg) translateX(180px); padding: 0 0 0 147px;" src="/myphoto/blue-yellow-heart.png" width="500" height="360" alt="">

    </div>
</div>


<div class="bigspace"></div>



<p>
     Hello there, this website is for people who do stuff. <img src="images/Face 2.gif" alt="Another of the Firemages">


</p>

<p>Other helpful links ⬇⬇⬇</p>


<p><b><a href="http://steamcommunity.com/groups/heavy-force" target="_blank" style="color:#33CC33">Heavy Force Steam Community Group</a></b></p>




