


<h1 class="logo">Welcome To Firemages.com</h1>

<img src="/myphoto/Miku Welcome.gif" alt="Another of the Firemages">


<h2> Flubber's Phenomenal Gaming Group! <img src="/myphoto/Face 2.gif" alt="Another of the Firemages"></h2>


<button class="button3d" ng-click="gotosite()">
<img src="/myphoto/Heart Lights.gif" alt="Another of the Firemages">Flubber's Phenomenal Gaming Group<img src="/myphoto/Heart Lights.gif" alt="Another of the Firemages">

</button>
<b>Are you ready for fun? well then come play with us!</b>


<div class="smallspace"></div>

<!-- load media forum here -->
<div ui-view="viewB"></div>
<!-- end load media forum here -->

<div class="bigspace"></div>
<div class="smallspace"></div>


<p>
     Hello there, welcome to flubbergaming's website!. <img src="images/Face 2.gif" alt="Another of the Firemages">


</p>

<p>Other helpful links ⬇⬇⬇</p>


<p><b><a href="http://steamcommunity.com/groups/heavy-force" target="_blank" style="color:#33CC33">Heavy Force Steam Community Group</a></b></p>




