<div class="panel panel-primary">
    <div class="panel-heading">Inbox</div>
    <div class="panel-body table-responsive">
      <table class="table inboxbackground">
          <tr ng-repeat="i in inbox track by $index">
              <td class="col-sm-2"><img ng-src="/images/{{i.senderid.photo}}" class="img-thumbnail"></td>
              <td class="col-sm-1">{{i.senderid.username}}</td>
              <td class="col-sm-9">
                  <pre ng-bind-html="i.message | unsafe"></pre>
                  <i>{{i.createdAt|datetimefilter}}</i>
                  <ul class="list-unstyled list-inline">
                      <li><button class="btn button5" ng-click="reply(i)"><i class="fa fa-reply"></i> Reply</button> </li>
                      <li><button class="btn button3" ng-click="delete(i)"><i class="fa fa-remove"></i> Delete</button> </li>
                  </ul>
              </td>
          </tr>
      </table>



    </div>
</div>