

<h2 class="logo">Login</h2>


<div class="text-danger">{{errormsg}}</div>
<div class="row">
    <label class="col-md-2">UserName <span class="text-danger">*</span></label>
    <div class="col-md-4"><input type="text" ng-model="person.username" maxlength="200" class="form-control input-sm inputbox" ng-keypress="resetemail()"/></div>
    <div class="col-md-6 text-danger" ng-show="error.username==true">Enter your UserName</div>
</div>

<br/>
<div class="row">
    <label class="col-md-2">Password <span class="text-danger">*</span></label>
    <div class="col-md-4"><input type="password" ng-model="person.password" maxlength="30" class="form-control input-sm inputbox" ng-keypress="resetpassword($event)"/></div>
    <div class="col-md-6 text-danger" ng-show="error.password==true">Enter your password</div>
</div>

<br/>
<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-4"><button ng-click="getlogin()" class="btn button2">Login</button></div>
</div>

<p>
    <a style="color: #33CC33" class="fa fa-arrow-right" href="#/register"> Register</a>
</p>