<h2 class="logo"> <img src="images/Blue Lights.gif" alt="Another of the Firemages">Members<img src="images/Blue Lights.gif" alt="Another of the Firemages"></h2>



<table class="table-condensed">
<tr>
    <th>&nbsp;</th><th>Member</th><th>Joined</th><th>Last Online</th>
</tr>


    <tr ng-repeat="user in users track by $index">
        <td>

        <a ng-if="user.status=='Member'"><img ng-src="/images/{{user.photo}}" class="photo boxrectimg"/></a>
        <a ng-if="user.status=='Website Creator'"><img ng-src="/images/{{user.photo}}" class="photo boxrectimgcreator"/></a>
        <a ng-if="user.status=='Designer Bot'"><img ng-src="/images/{{user.photo}}" class="photo boxrectimgdesigner"/></a>
        <a ng-if="user.status=='Server Owner'"><img ng-src="/images/{{user.photo}}" class="photo boxrectimgowner"/></a>

            <div ng-if="user.status=='Member'" class="rect">{{user.status}}</div>
            <div ng-if="user.status=='Website Creator'" class="rectcreator">{{user.status}}</div>
            <div ng-if="user.status=='Designer Bot'" class="designerbot">{{user.status}}</div>
            <div ng-if="user.status=='Server Owner'" class="rectowner">{{user.status}}</div>


        </td>
        <td>{{user.username}}</td>
        <td>{{user.createdAt|datefilter}}</td>
        <td>{{user.updatedAt|datetimefilter}}</td>
    </tr>


</table>