<h2 class="logo">Members</h2>



    <table class="table-condensed">
    <tr>
    <th>&nbsp;</th><th>Member</th><th>Rank</th><th>Joined</th><th>Last Online</th>
    </tr>


    <tr ng-repeat="user in users track by $index">
        <td class="col-sm-2">

        <a><img ng-src="/images/{{user.photo}}" alt="User avatar"/></a>




        </td>
        <td><a ng-click="gotoprofile('/profile/'+user.id)" class="whiteColor pointer">{{user.username}}</a></td>
        <td>{{user.status}}</td>
        <td>{{user.createdAt|datefilter}}</td>
        <td>{{user.updatedAt|datetimefilter}}</td>

    </tr>


    </table>


