<ul class="nav nav-tabs navbar-default navbar-fixed-top" ng-controller="menuController">

   <li ng-repeat="menu in menus track by $index" ng-click="goto($index)" class="{{menu.myclass}}" ng-if="menu.status==0">
  <a><i class="{{menu.icon}}"></i> {{menu.title}} </a>
    </li>


    <li ng-if="person.username" ng-click="logoff()">
        <a>Log off {{person.username}}</a>
    </li>
    <li ng-if="person.photo">
        <img ng-src="app/assets/images/{{person.photo}}" class="img-responsive smallphoto"/>
    </li>
</ul>