<div class="panel panel-info" ng-if="logindata.status=='Community Owner' || logindata.status=='Community Guidance' || logindata.status=='Community Advisor' || logindata.status=='Community Founder'">

    <div class="cat-head">
    <div class="cat-title"><span>Moderator Tools</span></div>
    </div>
    <div class="panel-body toolsbackground">
        <ul class="list-group">
            <li class="list-group-item toolsbackground2 pointer" ng-show="info.delete==false"><button class="btn button5" ng-click="delete()"><i class="fa fa-trash"></i> Delete This Thread</button> </li>
            <li class="list-group-item toolsbackground2 pointer" ng-show="forum.lock==false && pinflag==false"><button class="btn button5" ng-click="lock()"><i class="fa fa-lock"></i> Lock This Thread</button> </li>
            <li class="list-group-item toolsbackground2 pointer" ng-show="info.delete==false"><button ng-show="pinflag==false" class="btn button5" ng-click="pin()"><i class="fa fa-thumb-tack"></i> Pin This Thread</button> </li>
            <li class="list-group-item toolsbackground2 pointer" ng-show="forum.lock==false"><button class="btn button5" ng-click="edit()"><i class="fa fa-edit"></i> Edit This Thread</button> </li>


        </ul>


    </div>
</div>