<div class="panel panel-info" ng-if="logindata.status=='Community Owner' || logindata.status=='Community Guidance' || logindata.status=='Community Advisor' || logindata.status=='Community Founder' || logindata.status=='Announcement Bot' || logindata.status=='Designer Bot'">

    <div class="cat-head">
    <div class="cat-title"><span>Moderator Tools</span></div>
    </div>
    <div class="panel-body toolsbackground">
        <ul class="nav nav-pills navbar-default">

            <li class="pointer" ng-show="info.delete==false" ng-click="delete()">
                <button class="btn navmenu2 navlink"><i class="fa fa-trash"></i><strong> Delete This Thread </strong></button>
            </li>
            <li class="pointer" ng-show="forum.lock==false && pinflag==false"ng-click="lock()">
                <button class="btn navmenu2 navlink"><i class="fa fa-lock"></i><strong> Lock This Thread </strong></button>
            </li>
            <li class="pointer" ng-show="info.delete==false"ng-show="pinflag==false" ng-click="pin()">
               <button class="btn navmenu2 navlink"><i class="fa fa-thumb-tack"></i><strong> {{pinTitle}} </strong></button>
            </li>
            <li class="pointer" ng-show="forum.lock==false" ng-click="edit()">
                <button class="btn navmenu2 navlink"><i class="fa fa-edit"></i><strong> Edit This Thread </strong></button>
            </li>


        </ul>


    </div>
</div>