<h3>Announcements</h3>


<table class="table table-hover forum-container">
    <tr>
        <th></th><th>Author</th><th colspan="2">Title</th><th>Views</th><th>Last Post</th>
    </tr>
    <tr ng-repeat="f in forums track by $index">
        <td class="col-sm-1">
            <span class="bgBlack" ng-if="f.lock==true"><i class="fa fa-lock"></i></span>
        </td>
        <td class="col-sm-1">
            <a ng-click="gotoprofile('/profile/'+f.forumid.userid.id)" class="{{f.userid.fontcolor}} pointer">{{f.userid.username}}</a>
        </td>

        <td class="col-sm-1" style="color: #00ffff"> PINNED:</td>
        <td class="pointer col-sm-4"><a class="alink2" ng-click="gotosummary(f.forumid)">{{f.forumid.title}}</a></td>
        <td class="col-sm-1">{{f.forumid.totalviews}}</td>
        <td class="col-sm-4">
           <lastanswer forumid="f.forumid.id"></lastanswer>
        </td>
    </tr>
</table>