<h1 class="logo">Profile</h1>
<div class="panel panel-primary">
    <div class="panel-heading">{{person.username}}</div>
    <div class="panel-body profilebackground">
        <div class="row">
          <div class="col-sm-4">
              <div class="space"><img src="images/{{person.photo}}"/></div>
              <ul class="nav nav-stacked nav-pills pointer">
                  <li ng-if="myid!=0 && logindata.userid!=myid"><a ng-click="changeinfo('sendmessageController','sendmessage.html')"><i class="fa fa-send"></i> Send Message</a></li>
                  <li ng-if="myid==0 || logindata.userid==myid"><a href="#inbox/{{logindata.id}}"><i class="fa fa-envelope-o"></i> Inbox</a></li>
                  <li ng-if="myid==0 || logindata.userid==myid"><a ng-click="changeinfo('changepasswordController','changepassword.html')"><i class="fa fa-lock"></i> Change Password</a></li>
                  <li ng-if="myid==0 || logindata.userid==myid"><a href="#/updateRegister"><i class="fa fa-edit"></i> Update Profile</a></li>
              </ul>

          </div>
            <div class="col-sm-8">
               <ul class="list-unstyled">
                   <li>Steam ID : {{person.steamid}}</li>
                   <li>Status : {{person.online|onlinefilter}}</li>
                   <li>Rank : <span class="{{person.fontcolor}}">{{person.status}}</span></li>
               </ul>
                <pre ng-bind-html="person.summary|unsafe"></pre>


                <div ng-show="logindata.userid==person.id">

                <div class="space">
                    <div>Summary Of Yourself</div>
                  <textarea class="textbox" ng-model="info.message" maxlength="4500"></textarea>
                    <div ng-if="errors.message" class="alert alert-warning redColor">{{errors.message}}</div>
                </div>
                <div class="space">
                    <button class="btn button5" ng-click="save()">Save</button>
                    <button class="btn button5" ng-click="emoticon()">Emoticon</button>
                    <button class="btn button5" ng-click="formattingpopup()">Formatting Help</button>
                </div>
                </div>

            </div>

        </div>
    </div>
</div>
