<h1 class="logo">Profile</h1>
<div class="panel panel-primary">
    <div class="panel-heading">{{person.username}}</div>
    <div class="panel-body profilebackground">
        <div class="row">
          <div class="col-sm-4">
              <div class="space"><img src="images/{{person.photo}}"/></div>
              <ul class="nav nav-stacked nav-pills">
                  <li><a><i class="fa fa-envelope-o"></i> Inbox</a></li>
                  <li><a ng-click="changeinfo('changepasswordController','changepassword.html')"><i class="fa fa-lock"></i> Change Password</a></li>
                  <li><a href="#/updateRegister"><i class="fa fa-edit"></i> Update Profile</a></li>
              </ul>

          </div>
            <div class="col-sm-8">
               <ul class="list-unstyled">
                   <li>Steam ID : {{person.steamid}}</li>
                   <li>Status : {{person.online|onlinefilter}}</li>
                   <li>Rank : <span class="{{person.fontcolor}}">{{person.status}}</span></li>
               </ul>
                <pre>
                    {{person.summary}}
                </pre>
                <div ng-show="logindata.userid==person.id">

                <div class="space">
                    <div>Summary Of Yourself</div>
                  <textarea class="form-control" ng-model="info.message" maxlength="4500"></textarea>
                    <div ng-if="errors.message" class="alert alert-warning redColor">{{errors.message}}</div>
                </div>
                <div class="space">
                    <button class="btnmain" ng-click="save()">Save</button>
                </div>
                </div>

            </div>

        </div>
    </div>
</div>
