<h1 class="logo">Servers</h1>

<table servertable style="width:100%">
    <tr>
        <th>Game</th>
        <th>IP Adress</th>
        <th>Server Name</th>
    </tr>
    <tr>
        <td><img alt="" src="/myphoto/Tf2_icon.png" alt="Team Fortress 2" title="Team Fortress 2" style="vertical-align:middle"> Team Fortress 2</td>
        <td><a href="steam://connect/74.91.119.154:27019" style="text-decoration:none">
            71.183.84.5:27015
        </a></td>
        <td>Team Fortress 2 server #1</td>
    </tr>
    <tr>
        <td><img alt="" src="/myphoto/gmod_icon.png" alt="Garrys Mod" title="Garrys Mod" style="vertical-align:middle"> Garrys Mod</td>
        <td><a href="steam://connect/71.183.84.5:27016" style="text-decoration:none">
            71.183.84.5:27015
        </a></td>
        <td>Garry's Mod server #1</td>
    </tr>
    <tr>
        <td><img alt="" src="/myphoto/mc_icon.png" alt="Minecraft" title="Minecraft" style="vertical-align:middle"> Minecraft</td>
        <td><a href="steam://connect/71.183.84.5:25565" style="text-decoration:none">
            71.183.84.5:27015
        </a></td>
        <td>Minecraft server #1</td>
    </tr>
</table>