<div class="breadcrumb cat-head3">
    <div class="cat-title"><span><a href="#/forums">Home</a></span></div>
    <div class="active cat-title" style="margin-left: 5px;"><span>{{subtopic.name}}</span></div>
</div>

<div class="forum-container">
    <div>
        <div class="forumtopicbackground">
            <b>{{subtopic.name}}</b>
        </div>
        <table class="table tablebg">
            <tr>
                <th class="col-sm-4 forumrowbackground">Forum</th><th class="col-sm-1 forumrowbackground">Topics</th><th class="col-sm-1 forumrowbackground">Posts</th><th class="col-sm-6 forumrowbackground">Last Post</th>
            </tr>
            <tr ng-repeat="subcat in subtopic.subcat track by $index">
                <td class="col-sm-4 pointer" ng-click="goto(subcat)">{{subcat.name}}</td>
                <td class="col-sm-1"><countsubcat topicid="subcat.id"></countsubcat></td>
                <td class="col-sm-1"><countpostsubcat topicid="subcat.id"></countpostsubcat></td>
                <td class="col-sm-6"><lastpost topicid="subcat"></lastpost></td>
            </tr>
        </table>
    </div>

</div>

<span class="corners-top"><span></span></span>
<ul class="linklist">
    <li class="icon-home postlink"><a href="#/home">Home</a></li>
    <li class="rightside"></li>
</ul>
<span class="corners-bottom"><span></span></span>
<div class="copyright">
    © Flubber Gaming 2015
    <br/>
    Color scheme, Template, and Live Stats by <a class="postlink" target="_blank" href="http://steamcommunity.com/id/MissVane">Miss Helvane</a>
</div>