<div class="space50">&nbsp;</div>

<table class="table">
    <tr>
        <th class="col-sm-2">Author</th><th class="col-sm-10">Message</th>
    </tr>
    <tr>
        <td class="col-sm-2">
            <a ng-if="forum.userid.status=='Member'">
                <img src="/images/{{forum.userid.photo}}" class="boxrectimg"/>
            </a>
            <a ng-if="forum.userid.status=='Community Guidance'">
                <img src="/images/{{forum.userid.photo}}" class="boxrectimgcreator"/>
            </a>
            <a ng-if="forum.userid.status=='Designer Bot'">
                <img src="/images/{{forum.userid.photo}}" class="boxrectimgdesigner"/>
            </a>

            <a ng-if="forum.userid.status=='Community Founder'">
                <img src="/images/{{forum.userid.photo}}" class="boxrectimgowner"/>
            </a>
            <a ng-if="forum.userid.status=='No Ranking'">
                <img src="/images/{{forum.userid.photo}}" class="boxrectimgnorank"/>
            </a>
            <a ng-if="forum.userid.status=='Server Banned'">
                <img src="/images/{{forum.userid.photo}}" class="boxrectimgnorank"/>
            </a>
            <a ng-if="forum.userid.status=='Head Admin'">
                <img src="/images/{{forum.userid.photo}}" class="boxrectimgheadadmin"/>
            </a>
            <a ng-if="forum.userid.status=='Server Tech'">
                <img src="/images/{{forum.userid.photo}}" class="boxrectimgtech"/>
            </a>
            <a ng-if="forum.userid.status=='Server Admin'">
                <img src="/images/{{forum.userid.photo}}" class="boxrectimgadmin"/>
            </a>
            <a ng-if="forum.userid.status=='Co-Owner'">
                <img src="/images/{{forum.userid.photo}}" class="boxrectimgcoowner"/>
            </a>

            <div class="text-center smallfont">{{forum.userid.username}}</div>
            <div ng-if="forum.userid.status=='Member'" class="rect">{{forum.userid.status}}</div>
            <div ng-if="forum.userid.status=='Community Guidance'" class="rectcreator">{{forum.userid.status}}</div>
            <div ng-if="forum.userid.status=='Designer Bot'" class="designerbot">{{forum.userid.status}}</div>
            <div ng-if="forum.userid.status=='Community Founder'" class="rectowner">{{forum.userid.status}}</div>
            <div ng-if="forum.userid.status=='No Ranking'" class="rectnorank">{{forum.userid.status}}</div>
            <div ng-if="forum.userid.status=='Server Banned'" class="rectnorank">{{forum.userid.status}}</div>
            <div ng-if="forum.userid.status=='Head Admin'" class="rectheadadmin">{{forum.userid.status}}</div>
            <div ng-if="forum.userid.status=='Server Tech'" class="recttech">{{forum.userid.status}}</div>
            <div ng-if="forum.userid.status=='Server Admin'" class="rectadmin">{{forum.userid.status}}</div>
            <div ng-if="forum.userid.status=='Co-Owner'" class="rectcoowner">{{forum.userid.status}}</div>

        </td>
        <td class="col-sm-10">
            <h1>{{forum.title}}</h1>
            <pre ng-bind-html="forum.summary | emoji"></pre>
        </td>
    </tr>
    <tr ng-show="logindata" ng-if="logindata.status=='Community Guidance'||logindata.status=='Community Founder'||logindata.userid==forum.userid.id || forum.topic.name=='Media'">
        <td class="col-sm-2">
            <button class="btn btn-info" ng-click="reply()">Reply</button>
        </td>
        <td class="col-sm-10">
            <div ng-show="replyflag==true">
                <div class="space">
            <textarea ng-model=" msg.responseText" class="form-control" maxlength="4000"></textarea>
                </div>
                <div class="space">
                    <button class="btn btn-info" ng-click="save()">Submit</button>
                    <button class="btn btn-primary" ng-click="emoticon()">Emoticon</button>
                </div>
            </div>
        </td>
    </tr>

    <tr ng-repeat="a in answers track by $index">
        <td class="col-sm-2">

            <a ng-if="a.userid.status=='Member'">
                <img src="/images/{{a.userid.photo}}" class="boxrectimg"/>
            </a>
            <a ng-if="a.userid.status=='Community Guidance'">
                <img src="/images/{{a.userid.photo}}" class="boxrectimgcreator"/>
            </a>
            <a ng-if="a.userid.status=='Designer Bot'">
                <img src="/images/{{a.userid.photo}}" class="boxrectimgdesigner"/>
            </a>

            <a ng-if="a.userid.status=='Community Founder'">
                <img src="/images/{{a.userid.photo}}" class="boxrectimgowner"/>
            </a>
            <a ng-if="a.userid.status=='No Ranking'">
                <img src="/images/{{a.userid.photo}}" class="boxrectimgnorank"/>
            </a>
            <a ng-if="a.userid.status=='Server Banned'">
                <img src="/images/{{a.userid.photo}}" class="boxrectimgnorank"/>
            </a>
            <a ng-if="a.userid.status=='Head Admin'">
                <img src="/images/{{a.userid.photo}}" class="boxrectimgheadadmin"/>
            </a>
            <a ng-if="a.userid.status=='Server Tech'">
                <img src="/images/{{a.userid.photo}}" class="boxrectimgtech"/>
            </a>
            <a ng-if="a.userid.status=='Server Admin'">
                <img src="/images/{{a.userid.photo}}" class="boxrectimgadmin"/>
            </a>
            <a ng-if="a.userid.status=='Co-Owner'">
                <img src="/images/{{a.userid.photo}}" class="boxrectimgcoowner"/>
            </a>

            <div class="text-center smallfont">{{a.userid.username}}</div>
            <div ng-if="a.userid.status=='Member'" class="rect">{{a.userid.status}}</div>
            <div ng-if="a.userid.status=='Community Guidance'" class="rectcreator">{{a.userid.status}}</div>
            <div ng-if="a.userid.status=='Designer Bot'" class="designerbot">{{a.userid.status}}</div>
            <div ng-if="a.userid.status=='Community Founder'" class="rectowner">{{a.userid.status}}</div>
            <div ng-if="a.userid.status=='No Ranking'" class="rectnorank">{{a.userid.status}}</div>
            <div ng-if="a.userid.status=='Server Banned'" class="rectnorank">{{a.userid.status}}</div>
            <div ng-if="a.userid.status=='Head Admin'" class="rectheadadmin">{{a.userid.status}}</div>
            <div ng-if="a.userid.status=='Server Tech'" class="recttech">{{a.userid.status}}</div>
            <div ng-if="a.userid.status=='Server Admin'" class="rectadmin">{{a.userid.status}}</div>
            <div ng-if="a.userid.status=='Co-Owner'" class="rectcoowner">{{a.userid.status}}</div>


        </td>
        <td class="col-sm-10">
            <pre ng-bind-html="a.answer|emoji"></pre>
        </td>
    </tr>
</table>
