<div class="space50">&nbsp;</div>


<div class="breadcrumb cat-head3">
    <div class="cat-title"><span><a href="#/forums">Home</a></span></div>
    <div class="cat-title" style="margin-left: 5px;" ng-if="forumtopic.prevlevel"><span><a href="#/subcat/{{forumtopic.prevlevel.id}}">{{forumtopic.prevlevel.name}}</a></span></div>
    <div class="cat-title" style="margin-left: 5px;"><span><a href="#/forumtopic/{{forumtopic.id}}">{{forumtopic.name}}</a></span></div>
    <div class="cat-title active" style="margin-left: 5px;"><span>{{forum.title}}</span></div>
</div>


<h4 style="color: #4A8A4A;">{{forum.title}}</h4>

<div class="topic-actions">
<div class="buttons">
<div class="reply-icon" ng-if="forum.lock==false;">
    <a href="#/replyforum/{{forum.id}}"><span></span></a>
</div>
<div class="locked-icon" ng-if="forum.lock==true" title="This topic is locked, you cannot edit posts or make further replies."><a href="#/forumlock"><span></span></a></div>
</div>
</div>
<div class="clear"></div>
<div class="cat-head4">
    <div class="cat-title">
        <span>{{forum.title}}</span>
    </div>
    <div style="float: right;">
        <div class="cat-title">
            <span>{{forum.createdAt|datetimefilter}}</span>
        </div>
    </div>

</div>


<div class="forum-box">
    <ul class="post-row">
        <li>
            <div class="postbody">
                <br/>
                <div class="content">
                    <resize-image summary="forum.summary"></resize-image>
                    <div ng-if="forum.photo"><img src="/forum/{{forum.photo}}"/></div>
                </div>
                <div class="signature"></div>
            </div>
            <dl class="postprofile">
               <dt>
               <img src="/images/{{forum.userid.photo}}" class="{{forum.userid.status|statusfilter}}" alt="User avatar"/>
               <div><a class="{{forum.userid.status|fontcolor}}" href="#/profile/{{forum.userid.id}}">{{forum.userid.username}}</a></div>
                <div class="{{forum.userid.status|statusfilter2}}">{{forum.userid.status}}</div>

               </dt>

            </dl>
            <div class="clearall"></div>
        </li>
    </ul>
</div>


<div ng-repeat="a in answers track by $index">


<div class="cat-head4">
    <div class="cat-title">
        <span>RE: {{forum.title}}</span>
    </div>
    <div style="float: right;">
        <div class="cat-title">
            <span>{{a.createdAt|datetimefilter}}</span>
        </div>
    </div>

</div>

<div class="forum-box">
    <ul class="post-row">
        <li>
            <div class="postbody">
                <br/>
                <div class="content">
                    <resize-image summary="a.answer"></resize-image >
                </div>
                <div class="signature"></div>
            </div>
            <dl class="postprofile">
                <dt>
                        <img src="/images/{{a.userid.photo}}" class="{{a.userid.status|statusfilter}}" alt="User avatar"/>
                        <div><a class="{{a.userid.status|fontcolor}}" href="#/profile/{{a.userid.id}}">{{a.userid.username}}</a></div>
                        <div class="{{a.userid.status|statusfilter2}}">{{a.userid.status}}</div>

                </dt>

            </dl>
            <div class="clearall"></div>
        </li>
    </ul>
</div>
</div>

<div class="row">
    <div class="col-sm-3">
<div class="topic-actions">
<div class="buttons">
    <div class="reply-icon" ng-if="forum.lock==false;">
        <a href="#/replyforum/{{forum.id}}"><span></span></a>
    </div>
<div class="locked-icon" ng-if="forum.lock==true" title="This topic is locked, you cannot edit posts or make further replies."><a href="#/forumlock"><span></span></a></div>
</div>
</div>
    </div>

 <div class="col-sm-9 text-right" ng-show="total > 10">
     <div class="pagination">
    <span><pagination total-items="total" ng-model="currentPage" ng-click="nextpage(currentPage)" max-size="5" boundary-links="true" rotate="true" items-per-page="10" previous-text="Prev" next-text="Next"></pagination></span>
     </div>
 </div>

</div>