<ul class="list-inline list-unstyled">
    <li class="input-group">
        <label class="control-label">Font Color</label><input type="button" class="input-group-addon button11" colorpicker="hex" colorpicker-position="top" ng-model="values.fontcolor">
    </li>
    <li>
        <input type="button" class="button11" value="Bold" ng-model="values.boldtag">
    </li>
    <li>
        <input type="button" class="button11" value="Italics" ng-model="values.italictag">
    </li>
    <li>
        <input type="button" class="button11" value="Underline">
    </li>
</ul>